<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="templatesGeneration" style="width: 95vw">

  <div style="margin-left: 30px; margin-top: 20px" >
    <p *ngIf="!pceWithoutTemplateService.isUpdate" class="fs-5 fw-bold" style="margin-left: 10px; margin-bottom: 20px; color: darkorchid">Create PCE using Concept Model</p>
    <p *ngIf="pceWithoutTemplateService.isUpdate" class="fs-5 fw-bold" style="margin-left: 10px; margin-bottom: 20px; color: darkorchid">Update PCE using Concept Model</p>

    <!--    FOCUS CONCEPT-->
    <div class="row" >
      <label style="margin-bottom: 10px; margin-left: 10px"> Focus concept: </label>
      <div class="col-md-auto">
        <div class="input-group mb-3">
          <input class="form-control" list="focusConcept" [id]="'input-focusConcept'" (keyup)="keypressFocusConcept()" (change)="changeInputField()"
                 [(ngModel)]="focusConceptName" style="margin-left: 10px; height: 30px; width: 500px; box-shadow: none;" aria-describedby="basic-addon2">
          <input class="form-control" [id]="'input-focusConcept-dummy'" (keyup)="keypressFocusConcept()" (change)="changeInputField()" (click)="start()"
                 [value]="focusConceptName" style="margin-left: 10px; height: 30px; width: 500px; display: none; box-shadow: none;" aria-describedby="basic-addon2">

          <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px">
            <div class="spinner-border spinner-border-sm" [id]="'spinnerFc'" role="status" style="display: none">
<!--              <span class="sr-only">Loading...</span>-->
            </div>
          </span>
        </div>

        <datalist id="focusConcept">
          <option id="focusConceptOption" *ngFor="let v of listAllNamesFocusConcept"> {{v}}</option>
        </datalist>
      </div>


      <div class="col-md-auto">
        <button type="button" class="btn btn-success btn-sm" style="margin-left: 20px; max-width: 65px; min-width: 65px; height: 30px;" [id]="'btn-ok-focusConcept'" [disabled]="checkBtnFcDisabled()" (click)="getConceptModel()">Ok</button>
        <button class="btn btn-sm btn-danger" (click)="resetVariables()" style="margin-left: 20px;max-width: 65px; min-width: 65px">Cancel</button>
      </div>

    </div>

    <!--    GET CORRECT CONCEPT MODEL-->

    <div *ngIf="((booleanBtnFcDisabled && !showGenerationTemplate && !pceWithoutTemplateService.isUpdate) || (pceWithoutTemplateService.isUpdate && !pceWithoutTemplateService.showGenerationTemplate))"
         class="d-flex align-items-center" style="margin-left: 14px; margin-top: 40px">
      <strong>Loading...</strong>
    </div>


    <div *ngIf="(showGenerationTemplate && !pceWithoutTemplateService.isUpdate)  || (pceWithoutTemplateService.isUpdate && pceWithoutTemplateService.showGenerationTemplate)" class="container-fluid" style="margin-left: 10px; margin-top: 40px">

      <div class="row">
        <ul class="nav small" style="width: 1320px; margin-top: -10px;  background-color: #e9f2fb">
          <li class="nav-item" *ngIf="listWithoutMinCar.length > 0">

            <a  class="nav-link text-dark" aria-current="page" style="cursor: pointer; width: 165px; height: 40px" [id]="'tab-without'" (click)="loadWithout()" disabled="true" >Without RoleGroup</a>
          </li>
          <li class="nav-item" *ngFor="let v of listInitWithRoleGroupMaxCar; let i = index" >
            <a class="nav-link  text-dark" aria-current="page" style="cursor: pointer; width: 165px; height: 40px" [id]="'tab-with' + i" (click)="loadWith(i)">{{i+1}}. RoleGroup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" style="cursor: pointer; min-width: 165px; width: 100%; height: 40px" (click)="loadSummary()" [id]="'tab-summary'" disabled="true">Summary </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" style="cursor: pointer; min-width: 165px; width: 100%; height: 40px" [id]="'tab-finish'" disabled="true">Finish </a>
          </li>
        </ul>
      </div>


      <div class="container" style="margin-left: -27px; width: 3000px; min-height: 600px">
        <div *ngIf="idActualTab === 'tab-without'" class="row">

          <div class="col" style="width: 500px; margin-left: 5px; margin-right: 20px">

            <label style="margin-bottom: 10px; margin-top: 10px"> Attribute summary: </label>
            <div style="overflow-x:auto; margin-bottom: 50px">
              <table class="table table-striped table-sm table-bordered table-hover" [id]="'tableLeftWithout'">
                <thead>
                <tr>
                  <th scope="col" style="min-width: 310px; max-width: 310px">Attribute name</th>
                  <th scope="col" style="min-width: 410px; max-width: 410px">Attribute value</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let c of listNumberAttributesWithout; let idx=index">
                  <tr (keyup)="getRowTableLeftWithout(idx)" [id]="'rowTableLeftWithout' + idx">
                    <td (click)="clickRowTableWithout(idx)" *ngIf="actualAttributeNameWithout[idx] !== undefined && actualAttributeNameWithout[idx] !== ''">
                      <input class="form-control" list="datalistOptionsAttributeName" [id]="'attributeNameWithoutDataList' + idx" (ngModelChange)="loadAttributeDataWithout(idx)" [(ngModel)]="actualAttributeNameWithout[idx]" [readOnly]="true" style="cursor: pointer;width: 323px; height: 30px">
                      <datalist id="datalistOptionsAttributeName" style="max-height: 300px; overflow-y: auto" >
                        <option *ngFor="let e of getAttributesWithout(); let i = index"> {{e}} </option>
                      </datalist>
                    </td>
                    <td *ngIf="actualAttributeNameWithout[idx] === undefined || actualAttributeNameWithout[idx] === ''">
                      <input class="form-control" list="datalistOptionsAttributeName2" [id]="'attributeNameWithoutDataList' + idx" (ngModelChange)="loadAttributeDataWithout(idx)" [(ngModel)]="actualAttributeNameWithout[idx]" [readOnly]="true" style="cursor: pointer;width: 323px; height: 30px">
                      <datalist id="datalistOptionsAttributeName2" style="max-height: 300px">
                        <option *ngFor="let e of getAttributesWithout(); let i = index"> {{e}} </option>
                      </datalist>
                    </td>
                    <ng-container *ngIf="listLoadDataAttributeWithout[idx] || this.listLoadDataAttributeWithout[this.idRowLeftTableWithout] === undefined">
                      <td [id]="'rangeWithout-td' + idx" (click)="clickRowTableWithout(idx)">
                        <input [id]="'rangeWithout' + idx"  [value]="getRangeWithout(idx)" style="cursor: pointer; height: 30px; width: 403px; background-color: #eaecef; border-width: 0px; outline: none" readonly>
                      </td>
                    </ng-container>

<!--                    <ng-container *ngIf="!listLoadDataAttributeWithout[idx]">-->
<!--                      <td></td>-->
<!--                    </ng-container>-->


                  </tr>
                </ng-container>

                </tbody>
              </table>
            </div>


            <div class="col">
              <button class="btn btn-sm btn-secondary"  style="max-width: 135px; min-width: 135px" (click)="addRowTableLeftWithout()" [disabled]="idBtnAddWithoutDisabled()"> Add new attribute</button>
              <button class="btn btn-sm btn-danger" style="max-width: 135px; min-width: 135px; margin-left: 10px" (click)="deleteRowTableLeftWithout()" [disabled]="idBtnDeleteWithoutDisabled()"> Delete attribute</button>
            </div>


          </div>

          <div class="col" style="max-width: 500px; margin-left: 20px; margin-top: 15px">

            <div class="row" *ngIf="showInformationWindowWithout">
              <span class="border border-1 border-white" style="max-height: 350px; min-height: 350px; min-width: 510px; max-width: 510px; margin-left: -10px ">
                <div style="border-style:solid; border-width: 5px;border-color: lightblue; background-color: lightblue; min-width: 510px; max-width: 510px;">
                  <p class="fw-semibold "> Attribute definition: </p>
                  <div style="margin-top: -15px">{{popupInformationDefinitionWithout()}} </div>
                  <p class="fw-semibold" style="margin-top: 5px"> Cardinality: </p>
                  <div style="margin-top: -15px"> {{"- Minimum: "  + listWithoutMinCar[this.listIndexWithout[this.idRowLeftTableWithout]]}} </div>
                  <div > {{"- Maximum: "  + listWithoutMaxCar[this.listIndexWithout[this.idRowLeftTableWithout]]}} </div>
                  <p class="fw-semibold" style="margin-top: 5px"> Attribute value range - general: </p>
                  <div style="margin-top: -15px"> {{popupInformationConstraintWithout()}} </div>
                  <p *ngIf="isAttributeRelationWithout()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute based on the focus concept definition </p>
                  <div *ngIf="checkAdditionalHelp('without')">
                    <button type="button" class="btn btn-link btn-sm" style="margin-left: -7px" [id]="'linkButton'" (click)="getAllPossibleConceptsWithout(); appService.openPopup('additionalInfosWithout')">Additional help to find concepts</button>
                  </div>
                  <p *ngIf="isMandatoryWithout()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute resulting of 1..1 cardinality </p>
                </div>
              </span>
              <br>
            </div>

            <!-- Modal -->
            <div class="modal" id="additionalInfosWithout" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('additionalInfosWithout')}">
              <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px; min-width: 800px;">
                <div class="modal-content">
                  <div class="modal-header" style="background-color: #ffcd39">
                    <h6 class="modal-title">Select a concept:</h6>
                    <button type="button" class="btn-close" (click)="closeModal(); appService.closePopup('additionalInfosWithout')"></button>
                  </div>
                  <div class="modal-body">
                    <div *ngIf="!attributesFilterBoolean">
                      <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                          <strong>Loading...</strong>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="attributesFilterBoolean" class="container">
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">SNOMED CT Code</th>
                          <th scope="col">SNOMED CT Concept Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="cursor: pointer" *ngFor="let c of listAttributeValueCodesFilter; let idx = index" (mousedown)="clickRow($event, idx)" [id]="getIdRow(idx)">
                          <td>{{listAttributeValueCodesFilter[idx]}}</td>
                          <td>{{listAttributeValueNameFilter[idx]}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer" *ngIf="listAttributeValueCodesFilter.length > 0">
                    <button type="button" class="btn btn-success btn-sm" (click)="addCode('without'); closeModal(); appService.closePopup('additionalInfosWithout')" [disabled]="isButtonAddActiveModal()">Select</button>
                  </div>

                </div>
              </div>
            </div>





            <div *ngIf="showInformationWindowWithout" class="row">
              <label [id]="'label-range'" style="margin-bottom: 10px; margin-left: -5px; margin-top: 40px"> Attribute value:</label>
              <div *ngIf="booleanNormalWithout" style="margin-left: -10px">
                <table class="table table-sm table-borderless" [id]="'tableRight'">
                  <thead>
                  </thead>
                  <tbody>
                  <ng-container >
                    <tr [id] = "'rowTableRightWithout'">
                      <td>
                        <div class="input-group" style="min-height: 30px; max-height: 30px; margin-bottom: -60px">
                          <input class="form-control" [id]="'id-value-without'" list="constraintName" (keyup)="keypressGetAttributeValueWithout(idRowLeftTableWithout)" (change)="enableButtonWithout()" [(ngModel)]="listNameWithout[idRowLeftTableWithout]" style="height: 30px; box-shadow: none">

                          <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px; max-height: 30px">
                            <div class="spinner-border spinner-border-sm" [id]="'spinnerWithout'" role="status"  style="display: none">
                            </div>
                          </span>
                        </div>

                        <datalist id="constraintName" style="max-height: 300px">
                          <option id="optionFieldWithoutRoleGroup" *ngFor="let v of getPossibleValuesWithout()" > {{v}} </option>
                        </datalist>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>

                <div style="margin-top: 29px">
                  <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateValueWithout()" style="margin-left: 4px; max-width: 180px; min-width: 180px" [disabled]="true"> Update attribute value </button>
                </div>
              </div>

              <div *ngIf="booleanIntWithout" style="margin-left: -10px">
                <table class="table table-sm table-borderless">
                  <thead>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <input type="number" [id]="'attributeIntFixedWithout' " [min]="intDefMinWithout" [max]="intDefMaxWithout" [(ngModel)]="intFixedWithout" [disabled]="false" style="width: 70px; height: 30px">
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div style="margin-top: 10px">
                  <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateIntFixedValueWithout()" style="margin-left: 4px; max-width: 180px; min-width: 180px" [disabled]="isDisabledInputFixedWithout()"> Update attribute value </button>
                </div>

              </div>

              <div *ngIf="booleanDecWithout" style="margin-left: -10px">
                <table class="table table-sm table-borderless">
                  <thead>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <input type="number" id="attributeDecFixedWithout" [step]=".01" [min]="decDefMinWithout" [max]="decDefMaxWithout" [(ngModel)]="decFixedWithout" [disabled]="false" style="width: 70px; height: 30px">
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div style="margin-top: 10px">
                  <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateDecFixedValueWithout()" style="margin-left: 4px; max-width: 180px; min-width: 180px" [disabled]="isDisabledDecInputFixedWithout()"> Update attribute value </button>
                </div>
              </div>


              <div style="margin-bottom: 5px"></div>

            </div>
          </div>


        </div>





        <div *ngIf="idActualTab === 'tab-with' + idRg" class="row">

          <ul class="nav small" style="width: 1400px; margin-left: 15px;  background-color: #e9f2fb; margin-top: 20px">
            <li class="nav-item" *ngFor="let i of listIndexSubRg[idRg]; let idx=index">
              <a  class="nav-link text-dark small" aria-current="page" style="cursor: pointer; width: 80px; height: 35px" [id]="'tab-subRg' + idRg +idx" (click)="setSubRg(idx)" disabled="true" >{{idRg+1}}.{{idx+1}} RG</a>
            </li>
            <li class="nav-item" *ngIf="isAddRgPossible()">
              <a class="nav-link  text-dark small" aria-current="page" style="cursor: pointer; width: 80px; height: 35px" [id]="'tab-subRgAdd'" (click)="loadNewRoleGroup()"> <p class="fw-bold">+</p> </a>
            </li>
          </ul>


          <div class="col" style="width: 500px; margin-left: 5px; margin-right: 20px">

            <label style="margin-bottom: 10px; margin-top: 10px"> Attribute summary: </label>
            <div style="overflow-x:auto; margin-bottom: 50px">
                <table class="table table-striped table-sm table-bordered table-hover" [id]="'tableLeftWith'">
                <thead>
                <tr>
                  <th scope="col" style="min-width: 330px; max-width: 330px">Attribute name</th>
                  <th scope="col" style="min-width: 410px; max-width: 410px">Attribute value</th>
                </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let c of actualAttributeNameWith[idRg][idSubRg]; let idx=index">
                    <tr (keyup)="getRowTableLeftWith(idx)" [id]="'rowTableLeftWith' + idRg + idSubRg + idx" style="cursor: pointer">
                      <td (click)="clickRowTable(idRg, idSubRg, idx)" *ngIf="actualAttributeNameWith[idRg][idSubRg][idx] !== ''">
                        <input class="form-control" [id]="'attributeNameWithDataList' + idRg + idSubRg + idx" (ngModelChange)="loadAttributeDataWith(idx)" [(ngModel)]="actualAttributeNameWith[idRg][idSubRg][idx]" [readOnly]="false" style="cursor: pointer; width: 340px; height: 30px">
                      </td>
                      <td *ngIf="actualAttributeNameWith[idRg][idSubRg][idx] === ''">
                        <input class="form-control" list="datalistOptionsAttributeNameWith2" [id]="'attributeNameWithDataList' + idRg + idSubRg + idx" (ngModelChange)="loadAttributeDataWith(idx)" [(ngModel)]="actualAttributeNameWith[idRg][idSubRg][idx]" [readOnly]="false" style="cursor: pointer; width: 340px; height: 30px">
                        <datalist id="datalistOptionsAttributeNameWith2" style="max-height: 30px!important">
                          <option *ngFor="let e of getAttributesWith(); let i = index"> {{e}} </option>
                        </datalist>
                      </td>
                      <ng-container *ngIf="actualAttributeNameWith[idRg][idSubRg][idx].length > 0" >
                        <td [id]="'rangeWith-td' + idRg + idx" (click)="clickRowTable(idRg, idSubRg, idx)">
                          <input class="rounded-2" [id]="'rangeWith' + idRg + idx"  [value]="getRangeWith(idx)" style="cursor: pointer; height: 30px; width: 403px; background-color: #eaecef; border-width: 0px; outline: none" readonly>
                        </td>
                      </ng-container>

                      <ng-container *ngIf="actualAttributeNameWith[idRg][idSubRg][idx].length === 0">
                        <td></td>
                      </ng-container>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <div class="col">
              <button class="btn btn-sm btn-secondary"  style="max-width: 135px; min-width: 135px" (click)="addRowTableLeftWith()" [disabled]="idBtnAddWithDisabled()"> Add new attribute</button>
              <button class="btn btn-sm btn-danger" style="max-width: 135px; min-width: 135px; margin-left: 10px" (click)="deleteRowTableLeftWith()" [disabled]="idBtnDeleteWithDisabled()"> Delete attribute</button>
            </div>

          </div>

          <div class="col" style="max-width: 500px; margin-left: 20px; margin-top: 15px">

            <div class="row" *ngIf="showInformationWindowWith">
              <span class="border border-1 border-white" style="max-height: 350px; min-height: 350px; min-width: 510px; max-width: 510px; margin-left: -10px ">
                <div style="border-style:solid; border-width: 5px;border-color: lightblue; background-color: lightblue; min-width: 510px; max-width: 510px;">
                  <p class="fw-semibold "> Attribute definition: </p>
                  <div style="margin-top: -15px">{{popupInformationDefinitionWith()}} </div>
                  <p class="fw-semibold" style="margin-top: 5px"> Cardinality: </p>
                  <div style="margin-top: -15px"> {{"- Minimum: "  + popupInformationMinCarWith()}} </div>
                  <div > {{"- Maximum: "  + popupInformationMaxCarWith()}} </div>
                  <p class="fw-semibold" style="margin-top: 5px"> Attribute value range - general: </p>
                  <div style="margin-top: -15px"> {{popupInformationConstraintWith()}} </div>
                  <p *ngIf="isAttributeRelationWith()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute based on the focus concept definition </p>
                  <div *ngIf="checkAdditionalHelp('with')">
                    <button type="button" class="btn btn-link btn-sm" style="margin-left: -7px" [id]="'linkButton'" (click)="getAllPossibleConceptsWith(); appService.openPopup('additionalInfosWith')">Additional help to find concepts</button>
                  </div>
                  <p *ngIf="isMandatoryWith()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute resulting of 1..1 cardinality </p>
                </div>
              </span>
              <br>
            </div>

            <!-- Modal -->
            <div class="modal" id="additionalInfosWith" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('additionalInfosWith')}">
              <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px; min-width: 800px;">
                <div class="modal-content">
                  <div class="modal-header" style="background-color: #ffcd39">
                    <h6 class="modal-title">Select a concept:</h6>
                    <button type="button" class="btn-close" (click)="closeModal(); appService.closePopup('additionalInfosWith')"></button>
                  </div>
                  <div class="modal-body">
                    <div *ngIf="attributesFilterBoolean === false">
                      <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                          <strong>Loading...</strong>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="attributesFilterBoolean" class="container">
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">SNOMED CT Code</th>
                          <th scope="col">SNOMED CT Concept Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="cursor: pointer" *ngFor="let c of listAttributeValueCodesFilter; let idx = index" (mousedown)="clickRow($event, idx)" [id]="getIdRow(idx)">
                          <td>{{listAttributeValueCodesFilter[idx]}}</td>
                          <td>{{listAttributeValueNameFilter[idx]}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer" *ngIf="listAttributeValueCodesFilter.length > 0">
                    <button type="button" class="btn btn-success btn-sm" (click)="addCode('with'); closeModal(); appService.closePopup('additionalInfosWith')" [disabled]="isButtonAddActiveModal()" >Select</button>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="showInformationWindowWith" class="row">
              <label [id]="'label-range'" style="margin-bottom: 10px; margin-left: -5px; margin-top: 40px"> Attribute value:</label>
              <div *ngIf="booleanNormalWith" style="margin-left: -10px">
                <table class="table table-sm table-borderless" [id]="'tableRight'">
                  <thead>
                  </thead>
                  <tbody>
                  <ng-container >
                    <tr [id] = "'rowTableRightWith'">
                      <td>
                        <div class="input-group" style="min-height: 30px; max-height: 30px; margin-bottom: -60px">
                          <input class="form-control" [id]="'id-value-with'" list="constraintNameWith" (keyup)="keypressGetAttributeValueWith(idRowLeftTableWith)" (click)="startFieldValueWith(idRowLeftTableWith)" (change)="enableButton()"  [(ngModel)]="listNameWith[idRg][idSubRg][idRowLeftTableWith]" style="height: 30px; box-shadow: none">
                          <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px; max-height: 30px">
                            <div class="spinner-border spinner-border-sm" [id]="'spinnerWith'" role="status"  style="display: none">
                            </div>
                          </span>
                        </div>
                        <datalist id="constraintNameWith" style="max-height: 300px">
                          <option id="optionFieldWithRoleGroup" *ngFor="let v of getPossibleValuesWith()" > {{v}} </option>
                        </datalist>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>

                <div style="margin-top: 29px">
                  <button class="btn btn-sm btn-success" [id]="'updateValueWith'" (click)="updateValueWith()" style="margin-left: 4px; max-width: 180px; min-width: 180px" [disabled]="true"> Update attribute value </button>
                </div>
              </div>

              <div *ngIf="booleanIntWith" style="margin-left: -10px">
                <table class="table table-sm table-borderless">
                  <thead>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <input type="number" [id]="'attributeIntFixedWith' " [min]="intDefMinWith" [max]="intDefMaxWith" [(ngModel)]="intFixedWith" [disabled]="false" style="width: 70px; height: 30px">
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div style="margin-top: 10px">
                  <button class="btn btn-sm btn-success" [id]="'updateValueWith'" (click)="updateIntFixedValueWith()" style="margin-left: 4px; max-width: 180px; min-width: 180px" [disabled]="isDisabledInputFixedWith()"> Update attribute value </button>
                </div>

              </div>

              <div *ngIf="booleanDecWith" style="margin-left: -10px">
                <table class="table table-sm table-borderless">
                  <thead>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <input type="number" id="attributeDecFixedWith" [step]=".01" [min]="decDefMinWith" [max]="decDefMaxWith" [(ngModel)]="decFixedWith" [disabled]="false" style="width: 70px; height: 30px">
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div style="margin-top: 10px">
                  <button class="btn btn-sm btn-success" [id]="'updateValueWith'" (click)="updateDecFixedValueWith()" style="margin-left: 4px; max-width: 180px; min-width: 180px" [disabled]="isDisabledDecInputFixedWith()"> Update attribute value </button>
                </div>
              </div>


              <div style="margin-bottom: 5px"></div>




            </div>
          </div>





        </div>


        <!--        HIER SUMMARY-->
        <div *ngIf="idActualTab === 'tab-summary'" class="row">
          <div class="col" style="width: 500px; margin-left: 20px; margin-right: 20px">
            <label *ngIf="checkValueWithout0()" style="margin-bottom: 5px; margin-top: 10px"> <p class="fw-bold" style="color: #3f97e0">Without RoleGroup:</p> </label>
            <div *ngIf="checkValueWithout0()" style="overflow-x:auto; margin-bottom: 10px">
              <table class="table table-striped table-sm table-bordered" [id]="'tableLeftWithout'" style="width: 800px">
                <thead>
                <tr>
                  <th scope="col" style="min-width: 400px; max-width: 400px">Attribute name</th>
                  <th scope="col" style="min-width: 500px; max-width: 500px">Attribute value</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let c of listSummaryAttributeNamesWithout; let idx=index">
                  <!--                  <ng-container *ngIf="checkValueWithout(idx)">-->
                  <tr *ngIf="checkValueWithout(idx)">
                    <td> {{listSummaryAttributeNamesWithout[idx]}} </td>
                    <td> {{listSummaryValueWithout[idx]}} </td>

                  </tr>
                  <!--                  </ng-container>-->

                </ng-container>

                </tbody>
              </table>
            </div>

            <div *ngFor="let rg of listInitWithMaxCar; let row=index">
              <div *ngFor="let  c of listInitWithMaxCar[row]; let subrg=index">
                <div *ngIf="checkRg(row, subrg)">
                  <label *ngIf="isWith" style="margin-bottom: 5px; margin-top: 10px"> <p class="fw-bold" style="color: #3f97e0">{{row + 1}}.{{subrg + 1}}. RoleGroup:</p>  </label> <br>

                  <div *ngIf="isWith" style="overflow-x:auto">
                    <table class="table table-striped table-sm table-bordered" [id]="'tableLeftWith'" style="width: 800px">
                      <thead>
                      <tr>
                        <th scope="col" style="min-width: 400px; max-width: 400px">Attribute name</th>
                        <th scope="col" style="min-width: 500px; max-width: 500px">Attribute value</th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngFor="let c of listSummaryAttributeNamesWith[row][subrg]; let col=index">
                        <tr *ngIf="checkValue(row, subrg, col)">
                          <td> {{listSummaryAttributeNamesWith[row][subrg][col]}} </td>
                          <td> {{listSummaryValueWith[row][subrg][col]}} </td>
                        </tr>
                      </ng-container>

                      </tbody>
                    </table>
                  </div>


                </div>
              </div>
            </div>

            <button class="btn btn-sm btn-success" style="margin-top: 20px; max-width: 160px; min-width: 160px; margin-bottom: 15px" (click)="createNewPce()" [disabled]="checkUserInput()"> Create new PCE </button>

            <div class="row">
              <div class="alert alert-danger" *ngIf="checkUserInput()"  style=" margin-left: 10px; max-width: 565px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert"> No attribute used or no attribute values for attributes with a 1..1 cardinality! </div>
            </div>



            <div style="margin-bottom: 100px"></div>

          </div>
        </div>

        <div *ngIf="idActualTab === 'tab-finish'" class="row" style="margin-bottom: 100px">

          <div class="container" style="margin-top: 20px">
            <div class="row">
              <div class="col" style="max-width: 200px">
                <p class="fw-bold" style="margin-top: 10px; margin-left: 20px"> PCE</p>
              </div>
              <div class="col" style="margin-left: -120px; margin-top: 16px; max-width: 50px">
                <button type="button" class="btn btn-sm" style="max-height: 24px; max-width: 24px; margin-top: -17px" title="Copy to clipboard" (click)="copyPceToClipboard()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16" style="margin-left: -5px; margin-top: -10px" >
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                  </svg>
                </button>
              </div>
              <div class="col" style="margin-top: 8px; max-width: 50px">
                <a *ngIf="highlightingPceService.input !== ''" (click)="downloadPce()">
                  <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer" color="black" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
                </a>
              </div>

              <div *ngIf="isCopyToClickbloard" class="col" style="margin-top: 10px">
                <div class="alert alert-secondary" style="max-width: 100px; max-height: 24px; display:inline-block; padding: 0px" role="alert"> Copied! </div>
              </div>
              <div  *ngIf="isDownload" class="col" style="margin-top: 10px; max-height: 24px; min-height: 24px">
                <div class="alert alert-secondary" style="max-width: 155px; max-height: 24px; display:inline-block; padding: 0px" role="alert"> Downloaded! </div>
              </div>
            </div>
          </div>




          <!--          <span class="border" style="overflow: scroll; margin-top: 10px; max-width: 1315px; min-width: 1315px; min-height: 300px; max-height: 300px; margin-bottom: 50px; margin-left: 20px; border-color: lightgray">-->
          <app-highlightingPce style="margin-left: 20px"></app-highlightingPce>



          <p class="fw-bold" style="margin-top: 40px; margin-left: 20px"> Diagram</p>
          <pce-diagram style="margin-left: 20px"></pce-diagram>
          <!--          </span>-->







          <!--          <textarea class="form-control" style="white-space: pre; overflow: scroll; margin-top: 20px; max-width: 1200px; min-width: 1200px; min-height: 400px; max-height: 400px; margin-bottom: 100px; margin-left: 10px" type="text" value="{{expressionPCE}}" readonly>-->

          <!--          </textarea>-->

          <button *ngIf="!this.pceWithoutTemplateService.isUpdate" type="button" class="btn btn-sm" (click)="savePCE(); appService.openPopup('ModalSavePCE')" style="margin-left: 31px; max-width: 110px; min-width: 110px; margin-top: 60px;  background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white">Save PCE</button>
          <button *ngIf="this.pceWithoutTemplateService.isUpdate" type="button" class="btn btn-sm" (click)="createNamePce(); appService.openPopup('ModalSavePCE')" style="margin-left: 31px; max-width: 110px; min-width: 110px; margin-top: 60px; background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white">Update PCE</button>
        </div>


        <!-- Modal -->
        <div class="modal" id="ModalSavePCE" data-bs-backdrop="static" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('ModalSavePCE')}">
          <div class="modal-dialog modal-dialog-centered" style="max-width: 930px; min-width: 930px">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #ffcd39">
                <h5 class="modal-title" id="staticBackdropLabel">Save PCE</h5>
                <button type="button" class="btn-close btn-sm" (click)="appService.closePopup('ModalSavePCE')" [disabled]="uploadPCE == 'start'" aria-label="Close"></button>
              </div>
              <div class="modal-body" >
                <div class="form-group">
                  <p class="fw-bold " style="margin-bottom: 10px"> PCE: </p>
                  <textarea class="form-control" id="pce" style="white-space: pre; overflow: scroll; max-width: 900px; min-width: 900px; min-height: 150px; max-height: 150px; box-shadow: none" type="text" value="{{expressionPCE}}" readonly></textarea>
                </div>
                <div class="form-group" style="margin-top: 20px">
                  <p class="fw-bold " style="margin-bottom: 10px"> Name: </p>
                  <textarea class="form-control" id="name" style="white-space: pre; overflow: scroll; max-width: 900px; min-width: 900px; min-height: 150px; max-height: 150px; box-shadow: none" type="text" value="{{namePCE}}"></textarea>
                </div>

                <div  [id]="'div-settingstemplates'">
                  <div class="form-group" style="margin-top: 20px">
                    <p class="fw-bold " style="margin-bottom: 10px"> Location for saving: </p>
                    <app-settingstemplates style="margin-bottom: 40px"></app-settingstemplates>
                  </div>
                </div>

              </div>

              <div [id]="'alert-start'" class="alert alert-primary" role="alert" style="width: 900px; margin-left: 15px;">
                Sending request ...
              </div>
              <div [id]="'alert-success'" class="alert alert-success" role="alert" style="width: 900px; margin-left: 15px;">
                Saving the PCE was successful!
              </div>
              <div [id]="'alert-error'" class="alert alert-danger" role="alert" style="width: 900px; margin-left: 15px;">
                Saving the PCE failed! {{errorMessageUrl}}
              </div>


              <div class="modal-footer">
                <!--                || this.update -->
                <button *ngIf="!this.pceWithoutTemplateService.isUpdate" type="button" class="btn btn-sm btn-success" [id]="'buttonSave'" (click)="storePCE()" [disabled]="isBtnSaveActive()">Save</button>
                <!--                <button *ngIf="this.pceWithoutTemplateService.isUpdate" type="button" class="btn btn-sm" style="background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white" (click)="updateCodeSystem()" [disabled]="uploadPCE === 'start' || !settingsTemplateService.ready || !((settingsTemplateService.newNameCsSupplement.length === 0) || (settingsTemplateService.newIdCsSupplement.length === 0))"> Update</button>-->
                <button *ngIf="this.pceWithoutTemplateService.isUpdate" type="button" class="btn btn-sm" style="background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white" (click)="updateCodeSystem()" [disabled]="isBtnSaveActive()"> Update</button>

                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" (click)="appService.closePopup('ModalSavePCE')" [disabled]="uploadPCE === 'start'" >Close</button>
              </div>
            </div>
          </div>
        </div>







      </div>


    </div>

  </div>
</div>

</body>
</html>
