<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>


<div class="settingsTemplates">

<!--  <label> Settings: </label>-->
  <div class="row" style="width: 1000px">
    <div class="col" style="width: 200px">


      <p class="fw-semibold"> 1. Choose a FHIR-Server: </p>
      <div class="form-check" *ngFor="let s of settingsTemplateService.listNameServer; let idx=index">
        <input *ngIf="idx === 0" class="form-check-input" type="radio" name="radioServer" [id]="'radio' + idx" [value]="'option' + idx" (change)="settingsTemplateService.getServer('', s,idx)" checked >
        <input *ngIf="idx !== 0" class="form-check-input" type="radio" name="radioServer" [id]="'radio' + idx" [value]="'option' + idx" (change)="settingsTemplateService.getServer('', s,idx)">
        <label class="form-check-label" [for]="'option' + idx">
          {{s}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioServer" id="radioOther" [id]="'radioOther'" value="option3" (change)="settingsTemplateService.getServer('other')">
        <label class="form-check-label" for="radioOther">
          Other
        </label>
      </div>

      <div class="row" *ngIf="settingsTemplateService.isOtherServer" style="margin-top: 10px">
        <div class="col">
          <input class="form-control form-control-sm" id="otherServer" style="width: 400px; box-shadow: none" placeholder="URL server"  [(ngModel)]="settingsTemplateService.serverChange" (keyup)="settingsTemplateService.keypressUrl()">
        </div>
        <div class="col">
          <button type="button" class="btn btn-sm btn-success" style="margin-left: 6px" (click)="settingsTemplateService.checkUrl()" [disabled]="settingsTemplateService.serverChange.length === 0">ok</button>
        </div>
        <div>
        <div *ngIf="settingsTemplateService.syntaxCheck === 'check'" class="alert alert-primary" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          Checking URL ...
        </div>
        <div *ngIf="settingsTemplateService.syntaxCheck === 'success'" class="alert alert-success" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          URL is correct!
        </div>
        <div *ngIf="settingsTemplateService.syntaxCheck === 'error' && settingsTemplateService.errorMessageUrl.length > 0" class="alert alert-danger" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          URL is causing problems! <br> {{settingsService.errorMessageUrl}}
        </div>
        <div *ngIf="settingsTemplateService.syntaxCheck === 'error' && settingsTemplateService.errorMessageUrl.length === 0" class="alert alert-danger" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          URL is causing problems! (Example: https://r4.ontoserver.csiro.au/fhir)
        </div>
        </div>

      </div>

    </div>

      <div class="col">
      <p class="fw-bold "> 2. Choose a CS Supplement: </p>
      <div class="form-check" [id]="'div-existing'">
        <input class="form-check-input" type="radio" name="radioSetting" id="radioExisting" [id]="'radioExisting'" value="option1" (change)="settingsTemplateService.getExistingCs('existing')" checked>
        <label class="form-check-label" for="radioExisting">
          Existing CS Supplement:
        </label>
      </div>
      <div *ngIf="settingsTemplateService.id === 'existing' && settingsTemplateService.listTitleUrl.length > 0" class="col">
        <input class="form-control form-control-sm" list="datalistOptionsXX" id="listTitleExistingCsS" [id]="'inputExisting'" style="width: 300px; margin-top: 5px; margin-bottom: 10px; box-shadow: none" placeholder="Titel" (keyup)="settingsTemplateService.resetTitleId()" (change)="settingsTemplateService.changeOption()" [(ngModel)]="settingsTemplateService.nameCsSupplement" [disabled]="settingsTemplateService.isInputDisabled('existing')">
        <datalist id="datalistOptionsXX">
          <option id="XXXC" *ngFor="let v of settingsTemplateService.getNames()"> {{v}}</option>
        </datalist>
      </div>
        <div *ngIf="settingsTemplateService.id === 'existing' && settingsTemplateService.listTitleUrl.length === 0" class="col">
          <p class="fw-semibold">Loading ...</p>
        </div>



<!--      <div  *ngIf="settingsTemplateService.id === 'existing' && settingsTemplateService.listTitleUrl.length > 0" class="col">-->
<!--        <button type="button" class="btn btn-sm btn-success" style="margin-left: 330px; margin-top: -60px" (click)="settingsTemplateService.save()" [disabled]="settingsTemplateService.isSaveDisabled()"> ok </button>-->
<!--      </div>-->

      <div class="form-check">
        <input class="form-check-input" type="radio" name="radioSetting" id="radioNew" [id]="'radioNew'" value="option1" (change)="settingsTemplateService.getExistingCs('new')">
        <label class="form-check-label" for="radioNew">
          New CS Supplement:
        </label>
      </div>

      <div *ngIf="settingsTemplateService.id === 'new'" class="col">
        <input class="form-control form-control-sm" list="datalistOptionsXX" [id]="'inputName'" style="width: 300px; margin-top: 5px; box-shadow: none" placeholder="Title" [(ngModel)]="settingsTemplateService.newNameCsSupplement" [disabled]="settingsTemplateService.isInputDisabled()">
        <input class="form-control form-control-sm" list="datalistOptionsXX" [id]="'inputId'" style="width: 300px; margin-top: 5px; box-shadow: none" placeholder="ID" [(ngModel)]="settingsTemplateService.newIdCsSupplement" [disabled]="settingsTemplateService.isInputDisabled()">
      </div>
<!--      <div  *ngIf="settingsTemplateService.id === 'new'" class="col">-->
<!--        <button type="button" class="btn btn-sm btn-success" style="margin-left: 330px; margin-top: -60px" (click)="settingsTemplateService.saveNew()" [disabled]="settingsTemplateService.newNameCsSupplement.length === 0 || settingsTemplateService.newIdCsSupplement.length === 0"> ok </button>-->
<!--      </div>-->

<!--      <div *ngIf="settingsTemplateService.id === 'new'">-->
<!--        <div *ngIf="settingsTemplateService.syntaxCheck === 'check'" class="alert alert-primary" role="alert" style="padding: 4px; width: 300px">-->
<!--          Checking URL ...-->
<!--        </div>-->
<!--        <div *ngIf="settingsTemplateService.syntaxCheck === 'success'" class="alert alert-success" role="alert" style="padding: 4px; width: 300px">-->
<!--          URL is correct!-->
<!--        </div>-->
<!--        <div *ngIf="settingsTemplateService.syntaxCheck === 'error'" class="alert alert-danger" role="alert" style="padding: 4px; width: 300px">-->
<!--          URL is wrong! (Example: https://ontoserver.imi.uni-luebeck.de/fhir)-->
<!--        </div>-->
<!--      </div>-->
    </div>








  </div>


<!--  <div class="modal fade" id="settingsCSModal" data-bs-backdrop="static" tabindex="-1"  aria-labelledby="settingsModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-body">-->
<!--          &lt;!&ndash;              <app-settings></app-settings>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" style="width: 60px" (click)="settingsService.cancelModal()">Close</button>-->
<!--          <button type="button" class="btn btn-sm btn-success"data-bs-dismiss="modal" style="width: 60px" (click)="settingsService.saveModal()" [disabled]="settingsService.isSaveDisabled()">Save</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->



</div>


</body>
</html>
