<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Validation</title>
</head>
<body>


<div style="width: 90vw">

  <div style="margin-left: 30px; margin-top: 20px">
    <div class="row">
      <div class="col-l" style="width: 250px;">
        <p class="fs-5 fw-bold" style="margin-left: 10px; margin-bottom: 20px; color: darkorchid">Validate PCE</p>
      </div>
      <div class="col" style="margin-left: 30px">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: -120px; margin-top: 5px; cursor: pointer" width="20" height="20" [id]="'info'" (click)="changeAlert('info')">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </div>
    </div>

    <div *ngIf="showInfoAlert" class="alert alert-primary" role="alert" style="margin-top: 0; padding: 4px; margin-left: 10px; max-width: 1000px;">
      <table class="table table-borderless table-sm" style="max-width: 1000px;">
        <tbody>
        <tr style="max-height: 20px">
          <td style="max-width: 575px; max-height: 20px"><p class="fw-semibold" style="padding: 1px">Information</p></td>
          <td style="text-align: right"><button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="margin-left: 90px" (click)="changeAlert()"></button></td>
        </tr>
        <tr>
          <td colspan="2">
            <p style="padding: 1px; text-align: justify; margin-bottom: 0; margin-top: -25px"> Post-coordinated SNOMED CT expressions (PCEs) can be validated here. The selected terminology server and a specific SNOMED CT edition and version are used for this. The validation includes the following points:
            <ul>
<!--              <li>Proposal of a new suitable pre-coordinated SNOMED CT concept if this no longer exists in the desired edition and version</li>-->
              <li>Checking the PCE based on the syntactic rules of the Compotional Grammar and the semantic rules of the Concept Model</li>
              <li>In case of syntactic and semantic errors in a PCE, further information is provided in addition to the error message.</li>
            </ul>
            <p style="padding: 1px; text-align: justify; margin-bottom: 0; margin-top: -15px">Depending on the error and the terminology server, validation can take around 1 minute per PCE. <br> The input for the validation can be as follows:</p>
            <ul style="margin-bottom: -10px">
              <li>Single PCE in an input field</li>
              <li>Upload a JSON file (FHIR ValueSet, FHIR Questionnaire)</li>
              <li>Upload a CSV file containing only PCEs (one per line, optionally its name; separated by a semicolon; without header).</li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <table class="table table-borderless table-sm" style="max-width: 800px; margin-left: 5px;">
      <tbody>
      <tr style="max-height: 20px">
        <td style="width: 130px"><p class="fw-semibold" style="padding: 1px">Selected edition:</p></td>
        <td style="width: 250px"><p style="padding: 1px">{{settingsService.versionChange.split(" -- ")[0]}}</p></td>
        <td style="width: 130px"><p class="fw-semibold" style="padding: 1px">Selected version:</p></td>
        <td style="width: 250px"><p style="padding: 1px">{{settingsService.versionChange.split(" -- ")[1]}}</p></td>
      </tr>
      </tbody>
    </table>

    <div class="row" style="margin-left: -2px; margin-top: -20px">
      <div class="col" style="max-width: 200px">
        <p class="fw-semibold" style="color: darkorchid">Input:</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radioStart" id="radioTextField" (click)="setInputId(ID_TEXT_FIELD)">
          <label class="form-check-label" for="radioTextField">
            Enter PCE
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="radioStart" id="radioUpload" (click)="setInputId(ID_UPLOAD)" checked>
          <label class="form-check-label" for="radioUpload">
            Upload file
          </label>
        </div>
      </div>
      <div class="col">
        <textarea *ngIf="idStart == ID_TEXT_FIELD" class="form-control" id="textarea" rows="5" style="margin-left: 20px; margin-top: 40px; max-width: 1070px; background-color: #FAFAFA; overflow-y: scroll; box-shadow: none" [(ngModel)]="singleConceptInput"></textarea>
        <div style="height: 134px" *ngIf="idStart == ID_UPLOAD">
          <div class="alert alert-secondary" role="alert" style="width: max-content; padding: 0; margin: 40px 0 0 18px; background-color: #FAFAFA">
            <input id="inputFile" type="file" #folderInput style="cursor: pointer; outline: none; opacity: 0; height: 20px; position: absolute; margin-top: 10px"
                   accept=".csv,.json"
                   (change)="filePicked(folderInput.files)"
            >
            <label for="inputFile" class="btn btn-link col" style="cursor: pointer; height: 30px; text-align: left; margin-bottom: -80px; margin-top: -70px; position: relative; z-index: 1;">
              Upload local file (JSON or CSV)
            </label>
            <p style="margin-left: 11px; margin-top: 15px; margin-bottom: 10px; width:max-content; padding-right: 10px">File: {{  fileName }}</p>
          </div>
        </div>
      </div>

      <div class="row" style="margin-left: -2px;">
        <div class="col" id="X" style="max-width: 100px">
          <button type="button" class="btn btn-success btn-sm" style="margin-left: -10px; margin-top: 20px; width: 70px" [disabled]="singleConceptInput.length === 0 && fileName.length === 0" (click)="startValidationSingleConcept()">Validate</button>
        </div>
        <div class="col" style="max-width: 220px">
          <button type="button" class="btn btn-secondary btn-sm" style="margin-left: -10px; margin-top: 20px; width: 200px" [disabled]="isDisabledDownload()" (click)="downloadErrorMessages()">Download error message(s)</button>
        </div>
        <div class="col" style="max-width: 200px; padding: 0; max-height: 60px" *ngIf="showValidateAlert">
          <div class="alert alert-primary" role="alert" style="padding: 4px; width: 125px; margin-top: 19px; height: 31px; text-align: center;">
            Validate PCE ...
          </div>
        </div>
        <div class="col" style="max-width: 200px; padding: 0; max-height: 60px;"><div class="alert alert-primary" role="alert" style="padding: 4px; width: 125px; margin-top: 19px; height: 30px; text-align: center; background-color: white; color: white; border-color: white"></div></div>
        <div class="col" style="max-width: 200px;" *ngIf="showDownloadAlert">
          <div class="alert alert-warning" role="alert" style="margin-bottom: 0; padding: 4px; width: 180px; margin-top: 19px; height: 31px; text-align: center;">
            Downloaded error file!
          </div>
        </div>
      </div>

      <!-- RESULT SINGLE CONCEPT     -->
      <ng-container *ngIf="idStart === ID_TEXT_FIELD">
        <p *ngIf="content.length >= 1" class="fw-semibold" style="color: darkorchid; margin-top: 20px">Result:</p>
        <p *ngIf="content.length == 1">No errors! PCE is syntactically and semantically correct!</p>
        <p *ngIf="content.includes('ID-pre-coordinated')">Input is not a PCE!</p>
        <textarea *ngIf="content.length > 1 && !content.includes('ID-pre-coordinated')" class="form-control" rows="{{getNumberOfRows(content)}}" style="overflow: scroll; box-shadow: none; margin-left: 10px; max-width: 85vw" readonly>{{getContent(content)}}</textarea>
      </ng-container>

      <!-- RESULT UPLOADED FILE     -->
      <ng-container *ngIf="idStart === ID_UPLOAD && listConcepts.length > 0">
        <p class="fw-semibold" style="color: darkorchid; margin-top: 20px">Result:</p>
        <table class="table table-striped table-bordered table-sm" style="margin-top: 5px; width: 1200px; margin-left: 14px">
          <thead>
          <tr>
            <th scope="col">PCE</th>
            <th scope="col">Name</th>
            <th scope="col" style="width: 100px">Result</th>
            <th scope="col" style="width: 70px">Extras</th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let element of listConcepts; let idx=index">
              <tr>
                <td>{{ element.code }}</td>
                <td>{{ element.display }}</td>
                <td *ngIf="listResult[idx] !== 'correct' && listResult[idx] !== 'error'"><p style="margin: 0; padding: 0">{{ '...' }}</p></td>
                <td *ngIf="listResult[idx] === 'correct'"><p style="margin: 0; padding: 0; color: green">{{ listResult[idx] }}</p></td>
                <td *ngIf="listResult[idx] === 'error'"><p style="margin: 0; padding: 0; color: darkred">{{ listResult[idx] }}</p></td>

                <td *ngIf="listResult[idx] === 'error'">
                  <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 5px; cursor: pointer; margin-left: 4px" width="20" height="20" [id]="'info-single'" (click)="showError(idx); appService.openPopup('modalError')">
                    <title>Show error</title>
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 5px; cursor: pointer; margin-left: 15px" width="20" height="20" [id]="'download-single'" (click)="downloadFile(listResultContent[idx], 'error-message-wasp-pce-' + idx, 'text/plain')">
                    <title>Download error</title>
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                  </svg>
                </td>
                <td *ngIf="listResult[idx] !== 'error'"></td>


              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="idStart === ID_UPLOAD && listConcepts.length === 0 && finishValidation">
        <p *ngIf="fileError() === 'noPCE'" style="margin-top: 20px">File doesn't include any PCEs.</p>
        <p *ngIf="fileError() === 'invalidFile'" style="margin-top: 20px">Invalid file.</p>
      </ng-container>

      <div class="modal" id="modalError" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('modalError')}">
        <div class="modal-dialog " style="max-width: 1130px; min-width: 1130px; min-height: 400px; max-height: 400px">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #ffcd39">
              <h6 class="modal-title" id="exampleModalLabel">Error message</h6>
              <button type="button" class="btn-close" (click)="appService.closePopup('modalError')"></button>
            </div>
            <div class="modal-body">
              <textarea class="form-control" rows="{{getNumberOfRows(listResultContent[idx])}}" style="overflow: scroll; box-shadow: none; max-width: 80vw; max-height: max-content" readonly>{{getContent(listResultContent[idx])}}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
