<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="processingMrcm">
   <div style="margin-left: 30px; margin-top: 20px">
      <p class="fs-5 fw-bold" style="margin-left: 10px; margin-bottom: 20px; color: darkorchid">Processing MRCM </p>
      <div class="alert alert-primary" role="alert" style="margin-top: 20px; padding: 4px; margin-left: 10px; max-width: 1000px;">
          <table class="table table-borderless table-sm" style="max-width: 1000px;">
              <tbody>
              <tr style="max-height: 20px">
                  <td style="max-width: 575px; max-height: 20px"><p class="fw-semibold" style="padding: 1px">Information</p></td>
              </tr>
              <tr>
                  <td>
                    <p style="padding: 1px; text-align: justify; margin-bottom: -15px; margin-top: -25px">The generated MRCM in JSON format is created for a specific SNOMED CT version, which is displayed <a href="https://gitlab.com/tessa00/wasp-data/-/tree/main" target="_blank">here</a>.
                    <br> Here on this page it is possible to create the JSON for another specific SNOMED CT version. This requires the file
                    <span class="font-monospace" style="padding: 1px; text-align: justify; color: coral">der2_sssssssRefset_MRCMDomainSnapshot_INT_xxx.txt</span>
                    from a monthly RF2 format from SNOMED International. This file is uploaded here in WASP. The JSON is then generated and is available in the download folder.
                        The <span class="font-monospace" style="padding: 1px; text-align: justify; color: coral">mrcm.json</span> file in the local WASP folder must be replaced with the newly
                        generated file from the download folder.
                        Please note that the data must then be store again in the cache.
                  </td>
              </tr>
              </tbody>
          </table>
      </div>

       <input id="inputfolder" type="file" #file style="cursor: pointer; outline: none; opacity: 0; height: 20px; position: absolute; margin-top: -35px" (change)="filePicked(file.files)">
       <label for="inputfolder" class="btn btn-link col" style="cursor: pointer; height: 30px; text-align: left; margin-bottom: -80px; margin-top: -70px; position: relative; z-index: 1;">
           Upload MRCM file
       </label>

       <div class="col" style="width: 200px; margin-left: 10px; margin-right: 20px; margin-top: 50px">
           <div *ngIf="messageMrcmProcessing === 'START_PROCESSING'" class="alert alert-primary" role="alert" style="margin-top: 20px; max-width: 300px; min-width: 300px; padding: 3px">
               Generating ...
           </div>
           <div *ngIf="messageMrcmProcessing === 'PROCESSING_CORRECT'" class="alert alert-success" role="alert" style="margin-top: 20px; max-width: 300px; min-width: 300px; padding: 3px">
               Processing of MRCM was successful!
           </div>
           <div *ngIf="messageMrcmProcessing === 'ERROR_PROCESSING'" class="alert alert-warning" role="alert" style="margin-top: 20px; max-width: 300px; min-width: 300px; padding: 3px">
               {{errorMessage}}
           </div>
       </div>

   </div>
</div>

</body>
</html>
