<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>


<div class="templates" style="pointer-events: none; max-width: 95vw" [id]="'start'">
  <nav class="navbar navbar-expand-md bg-dark" style="max-width: 95vw">
    <ul class="navbar-nav text-light">
      <div class="col" style="width: 50px">
        <h2 style="margin-left: 40px; color: #ffcd39"> WASP </h2>
      </div>
      <div class="col" style="width: 350px; margin-left: -65px; margin-top: -2px">
        <div class="row">
          <p class="fw-normal small" style="margin-top: 5px; color: #ffcd39; font-size: 12px">Web application supporting </p>
        </div>
        <div class="row">
          <p class="fw-normal small" style="margin-top: -18px; color: #ffcd39; font-size: 12px">SNOMED CT Postcoordination</p>
        </div>
      </div>

      <li>
        <div class="nav-link text-light" style="cursor: pointer; margin-top: 6px" (click)="click('ID_HOME'); clickItem('ID_HOME'); processingMrcmService.clickProcessingMrcm('')">Home</div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" style="cursor: pointer; margin-left: 40px; margin-top: 6px" (click)="click('ID_TEMPLATES_V2')" id="navbarTemplate" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Create PCE
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarTemplate">
          <li> <div class="nav-link" style="cursor: pointer" (click)="click('ID_TEMPLATE_CREATE'); clickItem('ID_TEMPLATE_CREATE'); ngOnInit(); getTemplates(); processingMrcmService.clickProcessingMrcm(''); validationToolService.clickValidationTool('')">Using Template</div></li>
          <div class="dropdown-divider"></div>
          <li> <div class="nav-link" style="cursor: pointer; min-width: 180px" (click)="pceWithoutTemplateService.clickTemplateGeneration('ID_PCE_WITHOUT_TEMPLATE');clickItem(''); processingMrcmService.clickProcessingMrcm(''); validationToolService.clickValidationTool('')">Using Concept Model</div> </li>
        </ul>
      </li>
<!--      Todo: bugs fixen-->
<!--      <li> <div class="nav-link text-light" style="cursor: pointer; margin-left: 30px; margin-top: 6px" (click)="click('ID_TEMPLATE_UPDATE'); settingsCsService.clickSettings('ID_TEMPLATE_UPDATE'); clickItem('ID_TEMPLATE_UPDATE'); resetAllVariables()">Update PCE</div></li>-->
      <li> <div class="nav-link text-light" style="cursor: pointer; margin-left: 40px; margin-top: 6px" (click)="templateGenerationService.clickTemplateGeneration('ID_GENERATE_TEMPLATE'); processingMrcmService.clickProcessingMrcm(''); pceWithoutTemplateService.clickTemplateGeneration(''); clickItem(''); processingMrcmService.clickProcessingMrcm('')">Generate Template</div> </li>
      <li> <div class="nav-link text-light" style="cursor: pointer; margin-left: 40px; margin-top: 6px" (click)="processingMrcmService.clickProcessingMrcm('ID_PROCESSING_MRCM'); validationToolService.clickValidationTool(''); templateGenerationService.clickTemplateGeneration(''); pceWithoutTemplateService.clickTemplateGeneration(''); templateGenerationService.clickTemplateGeneration(''); clickItem('')">Processing MRCM</div> </li>
      <li> <div class="nav-link text-light" style="cursor: pointer; margin-left: 40px; margin-top: 6px" (click)="validationToolService.clickValidationTool('ID_VALIDATION'); processingMrcmService.clickProcessingMrcm(''); pceWithoutTemplateService.clickTemplateGeneration(''); templateGenerationService.clickTemplateGeneration(''); clickItem('')">Validation</div> </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end text-light">
      <li> <div class="nav-link text-light" style="cursor: pointer; margin-right: 40px; margin-top: 6px" (click)="settingsService.clickSettings('ID_SETTINGS'); appService.openPopup('settingsModal')">Settings</div>
      <li> <div class="nav-link text-light" style="cursor: pointer; margin-right: 40px; margin-top: 6px" (click)="goToLink('https://browser.ihtsdotools.org/?perspective=full&conceptId1=404684003&edition=MAIN/' + settingsService.snomedBrowserVersion + '&release=&languages=en')">SNOMED CT Browser </div>
    </ul>
  </nav>


  <nav class="navbar navbar-expand-md bg-dark" style="margin-top: -5px; height: 15px; max-width: 95vw">
    <ul class="navbar-nav text-light">
      <p class="font-monospace small text-light bg-dark" style="margin-left: 40px; margin-top: -17px"><small><small>{{settingsService.versionHome}}</small></small></p>
    </ul>
  </nav>

  <div *ngIf="processingMrcmService.start === 'ID_PROCESSING_MRCM'">
    <app-processingMrcm></app-processingMrcm>
  </div>

  <div *ngIf="validationToolService.start === 'ID_VALIDATION'">
    <app-validationTool></app-validationTool>
  </div>


  <div *ngIf="templateGenerationService.start === 'ID_GENERATE_TEMPLATE'">
    <app-template_generation></app-template_generation>
  </div>

  <div *ngIf="pceWithoutTemplateService.start === 'ID_PCE_WITHOUT_TEMPLATE'">
    <app-pce_without_template></app-pce_without_template>
  </div>


  <div class="modal" [id]="'settingsModal'" role="dialog" tabindex="-1" [ngStyle]="{'display':appService.modalStyleDisplay('settingsModal')}">
    <div class="modal-dialog" style="max-width: 700px; margin-top: 100px">
      <div class="modal-content">
        <div class="modal-header" style="height: 50px; align-items: center; background-color: #ffcd39">
          <h4 *ngIf="settingsService.id !== 'SETTINGS_FIRST_READY'"  class="fw-semibold" style="color: black; margin-top: 5px; margin-left: 2px"> Welcome to WASP </h4>
          <h4 *ngIf="settingsService.id === 'SETTINGS_FIRST_READY'"  class="fw-semibold" style="color: black; margin-top: 5px; margin-left: 2px"> Settings </h4>
        </div>
        <div class="modal-body">
          <app-settings></app-settings>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal" style="width: 60px" (click)="settingsService.saveModal(); appService.closePopup('settingsModal'); closeStartModel()" [disabled]="settingsService.isSaveDisabled()">Save</button>
          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" style="width: 60px" (click)="settingsService.cancelModal(); appService.closePopup('settingsModal'); closeStartModel()" [disabled]="settingsService.isCloseDisabled()" *ngIf="settingsService.id === 'SETTINGS_FIRST_READY'">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="templateGenerationService.start === ''">
    <div *ngIf="appService.selectedItem === 'ID_TEMPLATE_CREATE'" class="row" style="margin-top: 20px; width: 96vw">


      <div class="container-fluid" style="margin-left: 20px">

        <p *ngIf="!this.update" class="fs-5 fw-bold" style="margin-left: 20px; margin-bottom: 20px; color: darkorchid">Generation PCE using template</p>
        <p *ngIf="this.update" class="fs-5 fw-bold" style="margin-left: 20px; margin-bottom: 20px; color: darkorchid">Updating PCE using template </p>


        <div class="row" >
          <label for="templates" class="form-label" style="margin-left: 20px">Templates: </label>
          <div class="col-md-auto" style="margin-left: 20px">
            <input class="form-control" list="datalistOptions" id="templates" placeholder="Choose a template..." [disabled]="changeTemplateChoice" [(ngModel)]="templateName" style="width: 650px; height: 30px;" data-searchdisable="false">
            <datalist id="datalistOptions" >
              <option *ngFor="let e of templateNamesList; let i = index"> {{e}} </option>
            </datalist>

          </div>


          <div class="col-md-auto">
            <button *ngIf="!showTemplateContent" type="button" class="btn btn-sm btn-success" [id]="'buttonStart'" style="margin-left: 20px; max-width: 65px; min-width: 65px" [disabled]="disabledOkButton()" (click)="clickChooseTemplate()"> Ok </button>
            <button *ngIf="!showTemplateContent" class="btn btn-sm btn-danger" (click)="cancel()" style="margin-left: 20px;max-width: 65px; min-width: 65px">Cancel</button>
            <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 20px; margin-top: 2px; cursor: pointer" *ngIf="showTemplateContent" width="25" height="25" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" (click)="appService.openPopup('templateInfo')">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>

            <!-- Modal -->
            <div class="modal" id="templateInfo" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('templateInfo')}">
              <div class="modal-dialog modal-dialog-scrollable" style="max-width: 1130px; min-width: 1130px; min-height: 400px; max-height: 400px">
                <div class="modal-content">
                  <div class="modal-header" style="background-color: #ffcd39">
                    <h6 class="modal-title" id="exampleModalLabel">Template Language</h6>
                    <button type="button" class="btn-close" (click)="appService.closePopup('templateInfo')"></button>
                  </div>
                  <div class="modal-body">
                    <app-highlightingTemplate></app-highlightingTemplate>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!showTemplateContent && !changeTemplateChoice">
        <p style="margin-top: 20px; margin-left: 40px; color: darkorchid">Filter results by Semantic Tag:</p>
        <div class="container" style="margin-left: 27px">
          <div class="row">
            <div class="col-sm" style="min-width: 300px; max-width: 300px">
              <div class="form-check form-switch" style="min-width: 200px; max-width: 300px" *ngFor="let tag of templateNamesListSemanticTag01;let i=index;">
                <input class="form-check-input" type="checkbox" [id]="'tag01' + i" checked (change)="getTemplatesTag(i , '01')">
                <label class="form-check-label" [for]="'tag' + i">{{tag}}</label>
              </div>
            </div>
            <div class="col-sm" style="width: 200px">
              <div class="form-check form-switch" *ngFor="let tag of templateNamesListSemanticTag02;let i=index;">
                <input class="form-check-input" type="checkbox" [id]="'tag02' + i" checked=false (change)="getTemplatesTag(i , '02')">
                <label class="form-check-label" [for]="'tag' + i">{{tag}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div *ngIf="!showTemplateContent && changeTemplateChoice"  class="d-flex align-items-center" style="margin-left: 40px; margin-top: 40px">
        <strong>Loading...</strong>
      </div>

      <div class="container" style="margin-top: 20px; margin-left: 40px" *ngIf=showTemplateContent>
        <div class="row">
          <label for="focusconcept" class="form-label" >Focus concept: </label>
          <div class="col-md-auto">
            <input type="text" name="textfeld" id="focusconcept" style="margin-right: 20px; max-width: 300px; min-width: 300px"  disabled [(ngModel)]="focusConceptName">
          </div>
        </div>



        <!--      ATTRIBUTES WITHOUT ROLE GROUPS-->
        <form class="row g-3" style="margin-top: 15px" *ngIf="showAttributeWithout">
          <!--        <p class="fw-bold" style="margin-bottom: -15px"> WITHOUT ROLE GROUPS</p>-->
          <div class="col-md-auto" *ngFor="let data of attributesWithoutGroup;let i=index;"  style="margin-right: 25px; max-width: 300px; min-width: 300px">
            <!--          necessary for new lines and formatting-->
            <ng-template #popContentWithout>
              <ng-container>
                <div>{{popupInformationDefinition(data.attributeNameCode)}} </div>
                <br>
                <div> Attribute value range: </div>
                <div>{{popupInformationConstraintWithout(i)}}</div>
                <br>
                <div *ngIf="!fixedBooleanWithout[i]">
                  <button type="button" class="btn btn-link btn-sm" style="margin-left: -7px" (click)="getAllPossibleConceptsWithout(i); appService.openPopup('additionalInfosWithout')">Additional help to find concepts</button>
                </div>
              </ng-container>
            </ng-template>

            <!-- Modal -->
            <div class="modal" id="additionalInfosWithout" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('additionalInfosWithout')}">
              <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px; min-width: 800px;">
                <div class="modal-content">
                  <div class="modal-header" style="background-color: #ffcd39">
                    <h6 class="modal-title">Select a concept</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal(); appService.closePopup('additionalInfosWithout')"></button>
                  </div>
                  <div class="modal-body">
                    <!--                  <div *ngIf="listAttributeValueCodesFilter.length === 0">-->
                    <div *ngIf="attributesFilterBoolean === false">
                      <div class="d-flex justify-content-center">
                        <div class="d-flex align-items-center">
                          <strong>Loading...</strong>
                        </div>
                      </div>
                    </div>
                    <!--                  <div *ngIf="listAttributeValueCodesFilter.length > 0" class="container">-->
                    <div *ngIf="attributesFilterBoolean" class="container">
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">Code</th>
                          <th scope="col">Concept Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="cursor: pointer" *ngFor="let c of listAttributeValueCodesFilter; let idx = index" (mousedown)="clickRow($event, idx)" [id]="getIdRow(idx)">
                          <td (dblclick)="getRelatedConceptsModal(idx)">{{listAttributeValueCodesFilter[idx]}}</td>
                          <td (dblclick)="getRelatedConceptsModal(idx)">{{listAttributeValueNameFilter[idx]}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="modal-footer" *ngIf="listAttributeValueCodesFilter.length > 0">
                    <button type="button" class="btn btn-success btn-sm" (click)="addCode(); closeModal(); appService.closePopup('additionalInfosWithout')" data-bs-dismiss="modal" [disabled]="isButtonAddActiveWithoutModal()" >Select</button>
                    <!--                  <button type="button" class="btn btn-danger btn-sm" (click)="closeModal()">Cancel</button>-->
                  </div>

                </div>
              </div>
            </div>

            <label class="form-label" style="cursor: pointer; height: 45px" placement="right" data-bs-trigger="focus" [ngbPopover]="popContentWithout" [id]="getIdAttributes(i)" (click)="getElementNumber(i)">{{data.attributeNameDisplay}} [{{data.attributeCardinalityMin}}-{{data.attributeCardinalityMax}}]:</label>
            <div class="row" style="margin-left: 1px">

              <!--            <input class="form-control" list="focusConcept" [id]="'input-focusConcept-dummy'" (keyup)="keypressFocusConcept()" (change)="changeInputField()"-->
              <!--                   [value]="focusConceptName" style="margin-left: 10px; height: 30px; width: 500px; display: none">-->

              <!--      Combobox for attributes-->
              <div class="input-group mb-3" style="margin-left: -12px" >
                <input *ngIf="!fixedBooleanWithout[i] && listAttributeWithoutConstraint[i] !== ''" class="form-control" [id]=getIndex(i) [name]="'input' + i + '|'"  (change)="changeWithout(i)" list="values" name="input" style="height: 30px; box-shadow: none; min-width: 200px; max-width: 200px" (keyup)="keypressGetAttributeValueWithoutRoleGroup(i)" (mousedown)="getElementNumber(i);getIdWithout(i)" [(ngModel)]="attributeValueWithout[i]">
                <input *ngIf="fixedBooleanWithout[i] && listAttributeWithoutConstraint[i] !== ''" class="form-control" [id]=getIndex(i) [name]="'input' + i + '|'" list="values" name="input" style="height: 30px; box-shadow: none;min-width: 200px; max-width: 200px" [disabled] = true (keyup)="keypressGetAttributeValueWithoutRoleGroup(i)" (mousedown)="getIdWithout(i);" [(ngModel)]="attributeValueWithout[i].toString().split('(')[0]">


                <input *ngIf="!fixedBooleanWithout[i] && listAttributeWithoutConstraint[i] !== ''" class="form-control" type="text" [id]="getIndex(i, 'dummy')"  (click)="changeWithout(i)" style="height: 30px; box-shadow: none;min-width: 200px; max-width: 200px; display: none" [value]="attributeValueWithout[i]">

                <input *ngIf="fixedBooleanWithout[i] && getNumberTypeWithout(i,'+int')" type="number" class="form-control" [min]="getRangeWithout(i,'min')" [max]="getRangeWithout(i,'max')" (change)="addNumberWithout(i)" (keyup)="addNumberWithout(i)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWithout[i]" [disabled]="true" style="height: 30px; box-shadow: none; min-width: 200px; max-width: 200px">
                <input *ngIf="!fixedBooleanWithout[i] && getNumberTypeWithout(i,'+int')" type="number" class="form-control" [min]="getRangeWithout(i,'min')" [max]="getRangeWithout(i,'max')" (change)="addNumberWithout(i)" (keyup)="addNumberWithout(i)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWithout[i]" [disabled]="false" style="height: 30px; box-shadow: none; min-width: 200px; max-width: 200px">

                <input *ngIf="fixedBooleanWithout[i] && getNumberTypeWithout(i, '+dec')" type="number" class="form-control" [min]="getRangeWithout(i,'min')" [max]="getRangeWithout(i,'max')" [step]= "0.01" (change)="addNumberWithout(i)" (keyup)="addNumberWithout(i)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWithout[i]" [disabled]="false" style="height: 30px; box-shadow: none;width: 200px">
                <input *ngIf="!fixedBooleanWithout[i] && getNumberTypeWithout(i, '+dec')" type="number" class="form-control" [min]="getRangeWithout(i,'min')" [max]="getRangeWithout(i,'max')" [step]= "0.01" (change)="addNumberWithout(i)" (keyup)="addNumberWithout(i)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWithout[i]" [disabled]="false" style="height: 30px; box-shadow: none;width: 200px">

                <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px; max-height: 30px">
                  <div class="spinner-border spinner-border-sm" [id]="'spinnerWith' + i" role="status" style="display: none; width: 15px; height: 15px">
                  </div>
                  <svg *ngIf="showInfoButton(i)" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer; max-width: 45px; max-height: 30px; margin-left: 1px" width="15" height="15" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16" [ngbPopover]="popContentWithout">
                   <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                  </svg>
                </span>


              </div>

              <datalist id="values">
                <div *ngIf="!attributesNoConstraintWithoutBoolean()">
                  <option id="optionField1" *ngFor="let d of listAttributeValueNameWithout"> {{d}} </option>
                </div>
                <div [id]="'test'+i" *ngIf="attributesNoConstraintWithoutBoolean() && listAttributeWithoutConstraint[i] === ''">
                  <option [id]="'optionfield'+i" *ngFor="let d of attributesNoConstraintWithout()"> {{d}} </option>
                </div>
              </datalist>



            </div>


            <!--      Buttons to add value to table-->
            <div *ngIf="!fixedBooleanWithout[i]" class="row">
              <div class="col-md-auto" style="margin-top: 10px">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary btn-sm" style="max-width: 50px; min-width: 50px" [id]="'add'+ i" title="Add value" (click)="addValueToTableWithout(i)" [disabled]="true">
                    <svg xmlns="http://www.w3.org/2000/svg"  style="margin-top: -2px" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm justify-content-center" style="max-width: 50px; min-width: 50px"  title="Delete value"  (click)="deleteValueWithout()" [id]="'btn-delete'+i" [disabled]="true">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -2px" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">-->
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                  </button>
                </div>
              </div>

              <!--      messages-->
              <!--          <button type="button" class="btn btn-warning btn-sm" style="margin-top: 10px; width: 200px" [id]="getAlertId(i)" *ngIf="isMaxCardinality(i)" [disabled]="true">Maximum limit reached!</button>-->
              <!--          <button type="button" class="btn btn-primary btn-sm" style="margin-top: 10px" [id]="getAlertId(i)" *ngIf="listAttributeWithoutMinCar[i] > 0 && listSelectedAttributeValueNameSummaryWithout[i].length < listAttributeWithoutMinCar[i]" [disabled]="true">Mandatory field</button>-->
              <!--          <button type="button" class="btn btn-close-white btn-sm" style="margin-top: 10px" [id]="getAlertId(i)" *ngIf="isMaxCardinality(i) === false" [disabled]="true">M!</button>-->

              <!--      Table for every attribute name-->
              <div class="container"  *ngIf="showTablesWithout && !fixedBooleanWithout[i]" style="margin-top: 9px">
                <table class="table table-hover table-sm">
                  <tbody>
                  <tr *ngFor="let code of listSelectedAttributeValueNameSummaryWithout[i]; let j=index;" (mousedown)="clickTableRow($event, i, j)" [id]="getIdTableRow(i, j)">
                    <td (dblclick)="getRelatedConceptsWithout(i)"> {{getValueTableWithout(i, j)}} </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="container"  *ngIf="!showTablesWithout && !fixedBooleanWithout[i]" style="margin-top: 17px">
                <table class="table table-sm" style="border-color: white; color: white">
                  <tbody>
                  <tr >
                    <td > {{""}} </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </form>



        <!--      ATTRIBUTES WITH ROLE GROUPS-->
        <form class="row g-3" style="margin-top: 15px" *ngIf="showAttributeWith">
          <!--        <p class="fw-bold" style="margin-bottom: -5px"> WITH ROLE GROUPS</p>-->
          <div class="row" *ngFor="let data of attributesWithGroup;let row=index;" style="margin-bottom: 15px">

            <p class="fw-semibold" style="margin-bottom: 5px; margin-top: 5px; margin-left: -2px" [id]="'id-label' + row" > {{row+1}}. ROLE GROUP [{{listRoleGroupsMinCar[row]}}-{{listRoleGroupsMaxCar[row]}}]</p>

            <div class="col-md-auto" *ngFor="let d of data;let col=index;"  style="margin-right: 25px; margin-bottom: 20px; max-width: 300px; min-width: 300px;">

              <!--          necessary for new lines and formatting-->
              <ng-template #popContentWith>
                <ng-container>
                  <div>{{popupInformationDefinition(d.attributeNameCode)}} </div>
                  <br>
                  <div> Attribute value range: </div>
                  <div>{{popupInformationConstraint(d.attributeNameCode, row, col)}}</div>
                  <br>
                  <div *ngIf="!fixedBooleanWith[row][col]">
                    <button type="button" class="btn btn-link btn-sm" style="margin-left: -7px" (click)="getAllPossibleConceptsWith(row, col); appService.openPopup('additionalInfosWith')">Additional help to find concepts</button>
                  </div>
                </ng-container>
              </ng-template>


              <!-- Modal -->
              <div class="modal" id="additionalInfosWith" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('additionalInfosWith')}">
                <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px; min-width: 800px;">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: #ffcd39">
                      <h6 class="modal-title">Select a concept</h6>
                      <button type="button" class="btn-close" (click)="closeModal(); appService.closePopup('additionalInfosWith')"></button>
                    </div>
                    <div class="modal-body">
                      <div *ngIf="!attributesFilterBoolean">
                        <div class="d-flex justify-content-center">
                          <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="attributesFilterBoolean" class="container">
                        <table class="table">
                          <thead>
                          <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Concept Name</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr style="cursor: pointer" *ngFor="let c of listAttributeValueCodesFilter; let idx = index" (mousedown)="clickRow($event, idx)" [id]="getIdRow(idx)">
                            <td (dblclick)="getRelatedConceptsModal(idx)">{{listAttributeValueCodesFilter[idx]}}</td>
                            <td (dblclick)="getRelatedConceptsModal(idx)">{{listAttributeValueNameFilter[idx]}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="modal-footer" *ngIf="listAttributeValueCodesFilter.length > 0">
                      <button type="button" class="btn btn-success btn-sm" (click)="addCodeWith(); closeModal(); appService.closePopup('additionalInfosWith')" [disabled]="isButtonAddActiveWithModal()" >Select</button>
                      <!--<button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>-->
                    </div>
                  </div>
                </div>
              </div>


              <label class="form-label" style="margin-left: -5px;cursor: pointer; height: 45px" placement="right" data-bs-trigger="focus" [id]="'label-' + getIndexWith(row,col)" [ngbPopover]="popContentWith">{{d.attributeNameDisplay}} [{{d.attributeCardinalityMin}}-{{d.attributeCardinalityMax}}]:</label>
              <div class="row" style="margin-left: -5px">
                <!--      Combobox for attributes-->
                <div class="input-group mb-3" style="margin-left: -12px" >
                  <input *ngIf="!fixedBooleanWith[row][col] && listAttributeWithConstraint[row][col] !== ''" class="form-control"  type="text" [id]="getIndexWith(row,col)" style="height: 30px; box-shadow: none;min-width: 200px; max-width: 200px" list="valuesWithRoleGroup"
                         [name]="'input' + row + '|' + col"
                         (keyup)="keypressGetAttributeValueWithRoleGroup(row,col)" (mousedown)="getIdWith(row, col);getElementNumberWith(row, col)" (change)="changeWith(row, col)"
                         [(ngModel)]="attributeValueWith[row][col]">
                  <input *ngIf="fixedBooleanWith[row][col] && listAttributeWithConstraint[row][col] !== ''" class="form-control" type="text" [id]=getIndexWith(row,col) style="height: 30px; box-shadow: none;min-width: 200px; max-width: 200px" list="valuesWithRoleGroup"
                         [name]="'input' + row + '|' + col"
                         [disabled] = true
                         (keyup)="keypressGetAttributeValueWithRoleGroup(row,col)" (mousedown)="getIdWith(row, col);getElementNumberWith(row, col)"
                         [(ngModel)]="attributeValueWith[row][col].toString().split('(')[0]">

                  <ng-container *ngIf="this.listAttributeWithConstraintComplete[row][col] !== undefined">
                    <input *ngIf="!fixedBooleanWith[row][col] && !this.listAttributeWithConstraintComplete[row][col].includes('+int') && !this.listAttributeWithConstraintComplete[row][col].includes('+dec')" class="form-control" type="text" [id]="getIndexWith(row,col, 'dummy')"  (click)="changeWith(row, col)" style="height: 30px; box-shadow: none;min-width: 200px; max-width: 200px; display: none" [value]="attributeValueWith[row][col]">

                    <input *ngIf="fixedBooleanWith[row][col] && getNumberTypeWith(row, col,'+int')" type="number" class="form-control" [min]="getRangeWith(row, col,'min')" [max]="getRangeWith(row, col,'max')" (change)="addNumberWith(row, col)" (keyup)="addNumberWith(row, col)" (click)="numberWith(row, col)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWith[row][col]" [disabled]="true" style="height: 30px; box-shadow: none; min-width: 200px; max-width: 200px;">
                    <input *ngIf="!fixedBooleanWith[row][col] && getNumberTypeWith(row, col,'+int')" type="number" class="form-control" [min]="getRangeWith(row, col,'min')" [max]="getRangeWith(row, col,'max')" (change)="addNumberWith(row, col)" (keyup)="addNumberWith(row, col)" (click)="numberWith(row, col)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWith[row][col]" [disabled]="false" style="height: 30px; box-shadow: none; min-width: 200px; max-width: 200px;">

                    <input *ngIf="fixedBooleanWith[row][col] && getNumberTypeWith(row, col, '+dec')" type="number" class="form-control" [min]="getRangeWith(row, col,'min')" [max]="getRangeWith(row, col,'max')" [step]="0.01" (change)="addNumberWith(row, col)" (keyup)="addNumberWith(row, col)" (click)="numberWith(row, col)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWith[row][col]" [disabled]="true" style="height: 30px; box-shadow: none; min-width: 200px; max-width: 200px;">
                    <input *ngIf="!fixedBooleanWith[row][col] && getNumberTypeWith(row, col, '+dec')" type="number" class="form-control" [min]="getRangeWith(row, col,'min')" [max]="getRangeWith(row, col,'max')" [step]="0.01" (change)="addNumberWith(row, col)" (keyup)="addNumberWith(row, col)" (click)="numberWith(row, col)" [ngModelOptions]="{standalone: true}" [id]="'yyy' " [(ngModel)]="attributeValueWith[row][col]" [disabled]="false" style="height: 30px; box-shadow: none;min-width: 200px; max-width: 200px;">
                  </ng-container>

                  <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px; max-height: 30px">
                      <div class="spinner-border spinner-border-sm" [id]="'spinnerWith' + row + col" role="status" style="display: none; width: 15px; height: 15px">
                      </div>
                     <svg *ngIf="showInfoButtonWith(row, col)" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer; max-width: 45px; max-height: 30px; margin-left: 1px" width="15" height="15" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16" [ngbPopover]="popContentWith">
                       <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"/>
                     </svg>
                  </span>
                </div>


                <ng-container *ngIf="this.listAttributeWithConstraintComplete[row][col] !== undefined">

                  <datalist id="valuesWithRoleGroup">
                    <div *ngIf="!(attributesNoConstraintWithBoolean())">
                      <option [id]="'optionFieldWithRoleGroup' + row + col" *ngFor="let v of listAttributeValueNameWith"> {{v}} </option>
                    </div>
                    <div [id]="'id'+ row + col" *ngIf="attributesNoConstraintWithBoolean()">
                      <option [id]="'option-field'+row + col" *ngFor="let v of attributesNoConstraintWith()"> {{v}} </option>
                    </div>
                  </datalist>




                  <!--      Buttons to add value to table-->
                  <div *ngIf="!fixedBooleanWith[row][col]" class="row">
                    <div class="col-md-auto" style="margin-top: 10px; margin-left: -11px">
                      <div class="col-md-auto" style="margin-top: 10px">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-secondary btn-sm" style="max-width: 50px; min-width: 50px"  title="Add value" (click)="addValueToTableWith(row, col)" [id]="'add' + row + col + ''" [disabled]=true>
                            <svg xmlns="http://www.w3.org/2000/svg"  style="margin-top: -2px" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                          </button>
                          <button type="button" class="btn btn-danger btn-sm justify-content-center" style="max-width: 50px; min-width: 50px" title="Delete value" (click)="deleteValueWith()" [disabled]="isButtonDeleteActiveWith(row,col)">
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -2px" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">-->
                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>

              <!--      Table for every attribute name-->
              <div class="container"  *ngIf="showTableWith && !fixedBooleanWith[row][col] && listSelectedAttributeValueNameSummaryWith[row][col].length > 0" style="margin-left: -15px; margin-top: 9px">
                <table class="table table-hover  table-sm">
                  <tbody>
                  <tr style="cursor: pointer" *ngFor="let name of listSelectedAttributeValueNameSummaryWith[row][col]; let e = index" (mousedown)="clickTableRowWith($event, row, col, e)" [id]="getIdTableRowWith(row, col, e)">
                    <td (dblclick)="getRelatedConceptsWith(row, col)"> {{getValueTableWith(name)}} </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="container"  *ngIf="!fixedBooleanWith[row][col] && this.listSelectedAttributeValueNameSummaryWith[row][col].length < 1" style="margin-top: 17px">
                <table class="table table-sm" style="border-color: white; color: white">
                  <tbody>
                  <tr >
                    <td > {{""}} </td>
                  </tr>
                  </tbody>
                </table>
              </div>


            </div>



            <div *ngIf="isAddGroupButtonVisible(row)" class="row" style="margin-left: -4px; margin-bottom: 10px" [id]="'div-summary-button' + row">
              <div class="col-md-auto" style="margin-left: -11px">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-secondary btn-sm" style="max-width: 120px; min-width: 120px" title="Add RoleGroup" (click)="addValueToRoleGroup(row)" [id]="'add-rg' + row" [disabled]="isAddGroupPossible(row)">
                    <svg xmlns="http://www.w3.org/2000/svg"  style="margin-top: -2px" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                    Role Group
                  </button>
                  <button type="button" class="btn btn-danger btn-sm justify-content-center" style="max-width: 120px; min-width: 120px" title="Delete RoleGroup" (click)="deleteRoleGroup(row)" [id] = "'delete-rg' + row" [disabled]="true">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -2px" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                    Role Group
                  </button>
                </div>




                <!--              <button type="button" class="btn btn-warning btn-sm" style="margin-left: 20px;width: 310px; display: none" [id]="getIdWarningButton(row)" [disabled]="true"> Maximum limit of this role group is reached!</button>-->
                <!--              <button type="button" class="btn btn-primary btn-sm" style="margin-left: 20px;width: 200px" *ngIf="listRoleGroupsMinCar[row] > 0 && getNumberOfRG(row) < listRoleGroupsMinCar[row]" [disabled]="true">Mandatory field</button>-->
              </div>
            </div>

            <!--            (isAddGroupButtonVisible(row) && showSummaryRoleGroup === true && isCarCorrect(row))-->
            <div *ngIf="(isAddGroupButtonVisible(row) && showSummaryRoleGroup && isCarCorrect(row))" style="margin-left: -2px; margin-top: 2px" [id]="'div-summary' + row">
              <label *ngIf="showSummary(row).length > 0 && showSummaryRoleGroup" style="color: darkorchid"> Summary:</label>
              <table *ngIf="showSummary(row).length > 0 && showSummaryRoleGroup" class="table table-hover table-sm" style="max-width: 1000px"  >
                <thead>
                <tr>
                  <th scope="col" *ngFor="let c of listAttributeWithName[row]; let n = index" > {{c}}</th>
                </tr>
                </thead>
                <tbody >
                <tr style="cursor: pointer" *ngFor="let group of showSummary(row); let i=index" (mousedown)="clickTableRowSummary($event, row, i)" [id]="row + '|' + i">
                  <td *ngFor="let c1 of group">{{getValueTableWith(c1.toString())}}</td>
                </tr>
                </tbody>
              </table>
            </div>





          </div>
        </form>

        <!--      BUTTON TO CREATE PCE-->
        <div style="margin-top: 50px">
          <button type="button" class="btn btn-sm btn-success" (click)="createPCE()" style="max-width: 110px; min-width: 110px">Create PCE</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="cancel()" style="margin-left: 10px; max-width: 110px; min-width: 110px">Cancel</button>
          <button *ngIf="!isCreateSuccessful() && !this.update" type="button" class="btn btn-sm" (click)="savePCE(); appService.openPopup('ModalSavePCE'); settingsTemplateService.startSettings();" style="margin-left: 10px; max-width: 110px; min-width: 110px; background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white">Save PCE</button>
          <button *ngIf="!isCreateSuccessful() && this.update" type="button" class="btn btn-sm" (click)="createNamePce(); appService.openPopup('ModalSavePCE'); settingsTemplateService.startSettings();" style="margin-left: 10px; max-width: 110px; min-width: 110px; background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white">Update PCE</button>
        </div>


        <!-- Modal -->
        <div class="modal" id="ModalSavePCE" tabindex="-1" role="dialog" [ngStyle]="{'display':appService.modalStyleDisplay('ModalSavePCE')}">
          <div class="modal-dialog modal-dialog-centered" style="max-width: 930px; min-width: 930px; min-height: 800px; max-height: 800px">
            <div class="modal-content">
              <div class="modal-header" style="height: 50px; align-items: center; background-color: #ffcd39">
                <h6 class="modal-title" id="staticBackdropLabel">Save PCE</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="appService.closePopup('ModalSavePCE')"></button>
              </div>

              <div class="modal-body" >
                <div class="form-group">
                  <p class="fw-bold " style="margin-bottom: 10px"> PCE: </p>
                  <textarea class="form-control" id="pce" style="white-space: pre; overflow: scroll; max-width: 900px; min-width: 900px; min-height: 150px; max-height: 150px; box-shadow: none" type="text" value="{{resultPCE}}" readonly></textarea>
                </div>
                <div class="form-group" style="margin-top: 20px">
                  <p class="fw-bold " style="margin-bottom: 10px"> Name: </p>
                  <textarea class="form-control" id="name" style="white-space: pre; overflow: scroll; max-width: 900px; min-width: 900px; min-height: 150px; max-height: 150px; box-shadow: none" type="text" value="{{namePCE}}"></textarea>
                </div>

                <div [id]="'div-settingstemplates'">
                  <div class="form-group" style="margin-top: 20px">
                    <p class="fw-bold " style="margin-bottom: 10px"> Location for saving: </p>
                    <app-settingstemplates style="margin-bottom: 100px"></app-settingstemplates>
                  </div>
                </div>

                <div *ngIf="appService.uploadPCE === 'start'" class="alert alert-primary" role="alert" style="margin-top: 20px">
                  Sending request ...
                </div>
                <div *ngIf="appService.uploadPCE === 'success'" class="alert alert-success" role="alert" style="margin-top: 20px">
                  Saving the PCE was successful!
                </div>
                <div *ngIf="appService.uploadPCE === 'error'" class="alert alert-danger" role="alert" style="margin-top: 20px">
                  Saving the PCE failed! {{appService.errorMessage}}
                </div>


              </div>
              <div class="modal-footer">
                <button *ngIf="!update" type="button" class="btn btn-sm btn-success" [id]="'buttonSave'" (click)="storePCE()" [disabled]="isBtnSaveActive()">Save</button>
                <button *ngIf="update" type="button" class="btn btn-sm" style="background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white" (click)="updateCodeSystem()" [disabled]="isBtnSaveActive()"> Update</button>
                <button type="button" class="btn btn-sm btn-danger" (click)="appService.closePopup('ModalSavePCE')" [disabled]="appService.uploadPCE === 'start'" >Close</button>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!showResult" style="margin-bottom: 100px"></div>

        <div *ngIf="showResult" class="row" style="margin-bottom: 100px">
          <!--      Show built PCE-->
          <div class="container" style="margin-top: 20px">
            <div class="row">
              <div class="col" style="max-width: 200px">
                <p *ngIf="showResult" class="fw-bold" style="margin-top: 10px"> PCE</p>
              </div>
              <div class="col" style="margin-left: -120px; margin-top: 16px; max-width: 50px">
                <button *ngIf="highlightingPceService.input !== ''" type="button" class="btn btn-sm" style="max-height: 24px; max-width: 24px; margin-top: -17px" title="Copy to clipboard" (click)="copyPceToClipboard()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16" style="margin-left: -5px; margin-top: -10px" >
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                  </svg>
                </button>
              </div>
              <div class="col" style="margin-top: 8px; max-width: 50px">
                <a *ngIf="highlightingPceService.input !== ''" download="pce.txt" href="data:text/plain;charset=utf-8,{{resultPCE}}" (click)="downloadPce()" title="Download PCE">
                  <svg xmlns="http://www.w3.org/2000/svg" color="black" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
                </a>
              </div>

              <div  *ngIf="isCopyToClickbloard" class="col" style="margin-top: 10px; max-height: 24px; min-height: 24px">
                <div class="alert alert-secondary" style="max-width: 105px; max-height: 24px; display:inline-block; padding: 0px" role="alert"> Copied! </div>
              </div>
              <div  *ngIf="isDownload" class="col" style="margin-top: 10px; max-height: 24px; min-height: 24px">
                <div class="alert alert-secondary" style="max-width: 105px; max-height: 24px; display:inline-block; padding: 0px" role="alert"> Downloaded! </div>
              </div>
            </div>
          </div>



          <div class="alert alert-danger" *ngIf="highlightingPceService.input === ''"  style=" margin-left: 10px; max-width: 565px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert"> {{resultPCE}} </div>

          <div *ngIf="showResult && highlightingPceService.input === 'Template'">
            <app-highlightingPce></app-highlightingPce>
            <p class="fw-bold" style="margin-top: 40px" *ngIf="showResult"> Diagram</p>
            <pce-diagram></pce-diagram>
          </div>




        </div>




      </div>





    </div>


    <div *ngIf="appService.selectedItem === 'ID_TEMPLATE_UPDATE'" class="row container-fluid" style="margin-top: 40px; margin-left: 20px; width: 96vw">
      <p class="fs-5 fw-bold" style="margin-left: 0px; margin-bottom: 20px; color: darkorchid">Updating existing PCE </p>
      <app-settingscs></app-settingscs>

      <div *ngIf="oldUrlCsSupplement !== settingsCsService.newUrl"> {{getStoredPCEs(settingsCsService.newUrl)}} </div>
      <div *ngIf="oldUrlCsSupplement !== '' && settingsCsService.newUrl !== ''" style="margin-top: 20px">
        <p class="fw-bold "> 3. Choose a PCE: </p>

        <div *ngIf="validateCodeMessage !== ''" class="alert alert-danger" role="alert" style="margin-top: 20px; max-width: 1300px">
          {{validateCodeMessage}}
        </div>

        <table id="tablepce" class="table table-striped table-bordered" style="max-width: 1300px; min-width: 1300px">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name PCE</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor: pointer" *ngFor="let c of listStoredPCEsName; let idx = index" (mousedown)="clickRowStore($event, idx)" [id]="getIdRowStore(idx)">
            <th>{{idx}}</th>
            <td>{{c}}</td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-sm" style="margin-top: 20px; margin-bottom: 40px; background-color: rgba(72, 126, 176, 1.0); border-color: rgba(72, 126, 176, 1.0); color: white" [disabled]="!isBtnUpdateActive" (click)="loadPCE()">Update PCE</button>
      </div>
    </div>

    <div *ngIf="appService.selectedItem === 'ID_HOME'" class="row container-fluid" style="margin-top: 20px; margin-left: 20px; width: 96vw">
      <p class="fs-5 fw-bold" style="margin-bottom: 20px; color: darkorchid">Menu </p>
      <ul class="nav flex-column">
        <li class="nav-item dropdown" style="max-width: 200px; text-align: left">
          <a class="nav-link dropdown-toggle text-black" style="cursor: pointer; margin-left: 40px; margin-top: 15px" id="navbarTemplateHome" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Create new PCE
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarTemplate">
            <li> <div class="nav-link text-black" style="cursor: pointer; max-width: 200px;" (click)="click('ID_TEMPLATE_CREATE'); clickItem('ID_TEMPLATE_CREATE'); ngOnInit(); getTemplates(); processingMrcmService.clickProcessingMrcm('')">Using Template</div></li>
            <div class="dropdown-divider"></div>
            <li> <div class="nav-link text-black" style="cursor: pointer; max-width: 200px;" (click)="pceWithoutTemplateService.clickTemplateGeneration('ID_PCE_WITHOUT_TEMPLATE');clickItem(''); processingMrcmService.clickProcessingMrcm('')">Using Concept Model</div> </li>
          </ul>
        </li>
<!--        <li> <div class="nav-link text-black" style="cursor: pointer; margin-left: 40px; margin-top: 15px; max-width: 200px;" (click)="click('ID_TEMPLATE_UPDATE'); settingsCsService.clickSettings('ID_TEMPLATE_UPDATE'); clickItem('ID_TEMPLATE_UPDATE'); resetAllVariables()">Update existing PCE</div></li>-->
        <li> <div class="nav-link text-black" style="cursor: pointer; margin-left: 40px; margin-top: 15px; max-width: 200px;" (click)="templateGenerationService.clickTemplateGeneration('ID_GENERATE_TEMPLATE'); pceWithoutTemplateService.clickTemplateGeneration(''); clickItem(''); processingMrcmService.clickProcessingMrcm('')">Generate Template</div> </li>
        <li> <div class="nav-link text-black" style="cursor: pointer; margin-left: 40px; margin-top: 15px; max-width: 200px;" (click)="processingMrcmService.clickProcessingMrcm('ID_PROCESSING_MRCM'); pceWithoutTemplateService.clickTemplateGeneration(''); templateGenerationService.clickTemplateGeneration(''); clickItem('')">Processing MRCM</div> </li>
        <li> <div class="nav-link text-black" style="cursor: pointer; margin-left: 40px; margin-top: 15px; max-width: 200px;" (click)="validationToolService.clickValidationTool('ID_VALIDATION'); pceWithoutTemplateService.clickTemplateGeneration(''); templateGenerationService.clickTemplateGeneration(''); clickItem('')">Validation</div> </li>
        <li> <div class="nav-link text-black" style="cursor: pointer; margin-left: 40px; margin-top: 15px" (click)="settingsService.clickSettings('ID_SETTINGS'); appService.openPopup('settingsModal')">Settings</div>
      </ul>


    </div>


  </div>
</div>
</body>
</html>
