/*.modal {*/
/*  !*display: flex;*!*/
/*  !*justify-content: center;*!*/
/*  !*align-items: center;*!*/
/*  !*position: fixed;*!*/
/*  top: 90px;*/
/*  !*left: -10px;*!*/
/*  !*width: 100%;*!*/
/*  !*height: 200%;*!*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
/*}*/
