<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="templatesGeneration" style="width: 90vw;" id="templateGeneration">

  <div style="margin-left: 30px; margin-top: 20px">
      <p class="fs-5 fw-bold" style="margin-left: 10px; margin-bottom: 20px; color: darkorchid">Generate own template </p>


    <!--    FOCUS CONCEPT-->
    <div class="row">
      <label style="margin-bottom: 10px; margin-left: 10px"> Focus concept: </label>
      <div class="col-md-auto">
        <div class="input-group mb-3">
          <input class="form-control" list="focusConcept" [id]="'input-focusConcept'" (keyup)="keypressFocusConcept()" (change)="changeInputField()"
                 [(ngModel)]="focusConceptName" style="margin-left: 10px; height: 30px; width: 500px; box-shadow: none;" aria-describedby="basic-addon2">
          <input class="form-control" [id]="'input-focusConcept-dummy'" (keyup)="keypressFocusConcept()" (change)="changeInputField()" (click)="start()"
                 [value]="focusConceptName" style="margin-left: 10px; height: 30px; width: 500px; display: none; box-shadow: none;" aria-describedby="basic-addon2">

          <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px">
            <div class="spinner-border spinner-border-sm" [id]="'spinnerFc'" role="status" style="display: none">
            </div>
          </span>
        </div>

        <datalist id="focusConcept">
          <option id="focusConceptOption" *ngFor="let v of getX()"> {{v}}</option>
        </datalist>
      </div>


      <div class="col-md-auto">
        <button type="button" class="btn btn-success btn-sm" style="margin-left: 20px; ;max-width: 65px; min-width: 65px; height: 30px" [id]="'btn-ok-focusConcept'" [disabled]="checkBtnFcDisabled()" (click)="getConceptModel()">Ok</button>
        <button class="btn btn-sm btn-danger" (click)="resetVariables()" style="margin-left: 20px;max-width: 65px; min-width: 65px">Cancel</button>
      </div>

    </div>

    <!--    GET CORRECT CONCEPT MODEL-->

    <div *ngIf="booleanBtnFcDisabled && !showGenerationTemplate"
         class="d-flex align-items-center" style="margin-left: 14px; margin-top: 40px">
      <strong>Loading...</strong>
    </div>


    <div *ngIf="showGenerationTemplate" class="container-fluid" style="margin-left: 10px; margin-top: 40px">

      <div class="row">
        <ul class="nav small" style="width: 1320px; margin-top: -10px;  background-color: #e9f2fb">
          <li class="nav-item" *ngIf="listWithoutMinCar.length > 0">

            <a  class="nav-link text-dark" aria-current="page" style="cursor: pointer; width: 165px; height: 40px" [id]="'tab-without'" (click)="loadWithout()" disabled="true" >Without RoleGroup</a>
        </li>
          <li class="nav-item" *ngFor="let v of listInitWithRoleGroupMaxCar; let i = index" >
            <a class="nav-link  text-dark" aria-current="page" style="cursor: pointer; width: 165px; height: 40px" [id]="'tab-with' + i" (click)="loadWith(i)">{{i+1}}. RoleGroup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" style="cursor: pointer; width: 165px; height: 40px" [id]="'tab-summary'" (click)="loadSummary()">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" style="cursor: pointer; width: 165px; height: 40px" [id]="'tab-namePce'" disabled="true"> Template term/name</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" aria-current="page" style="cursor: pointer; min-width: 165px; width: 100%; height: 40px" [id]="'tab-finish'" disabled="true">Finish </a>
          </li>
        </ul>
      </div>

<!--      </div>-->


      <div class="container" style="margin-left: -27px; width: 3000px; min-height: 600px">
        <div *ngIf="idActualTab === 'tab-without'" class="row">

          <div class="col" style="width: 570px; margin-left: 5px; margin-right: 20px">

            <label style="margin-bottom: 10px; margin-top: 10px"> Attribute summary: </label>
            <div style="overflow-x:auto; margin-bottom: 50px">
              <table class="table table-striped table-sm table-bordered table-hover" [id]="'tableLeftWithout'" style="width: 800px">
                <thead>
                <tr>
                  <th scope="col" style="min-width: 350px; max-width: 350px">Attribute name</th>
                  <th scope="col" style="min-width: 80px; max-width: 80px">Min car</th>
                  <th scope="col" style="min-width: 80px; max-width: 80px">Max car</th>
                  <th scope="col" style="min-width: 700px;">Attribute value range</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let c of listNumberAttributesWithout; let idx=index">
                  <tr (keyup)="getRowTableLeftWithout(idx)" [id]="'rowTableLeftWithout' + idx">
                    <td (click)="clickRowTableWithout(idx)" *ngIf="actualAttributeNameWithout[idx] !== undefined && actualAttributeNameWithout[idx] !== ''">
                      <input class="form-control" list="datalistOptionsAttributeName" [id]="'attributeNameWithoutDataList' + idx" (ngModelChange)="loadAttributeDataWithout(idx)" [(ngModel)]="actualAttributeNameWithout[idx]" [readOnly]="true" style="cursor: pointer;width: 323px; height: 30px">
                      <datalist id="datalistOptionsAttributeName" style="max-height: 300px" >
                        <option *ngFor="let e of getAttributesWithout(); let i = index"> {{e}} </option>
                      </datalist>
                    </td>
                    <td *ngIf="actualAttributeNameWithout[idx] === undefined || actualAttributeNameWithout[idx] === ''">
                      <input class="form-control" list="datalistOptionsAttributeName2" [id]="'attributeNameWithoutDataList' + idx" (ngModelChange)="loadAttributeDataWithout(idx)" [(ngModel)]="actualAttributeNameWithout[idx]" [readOnly]="true" style="cursor: pointer;width: 323px; height: 30px">
                      <datalist id="datalistOptionsAttributeName2" style="max-height: 300px">
                        <option *ngFor="let e of getAttributesWithout(); let i = index"> {{e}} </option>
                      </datalist>
                    </td>


                    <ng-container *ngIf="listLoadDataAttributeWithout[idx]">
                      <td>
                        <input [id]="'attributeMinCarWithout' + c" (change)="resetCarWithout(idx)" (click)="resetCarWithout(idx)" (keyup)="checkCardinalityWithout('min', idx, 'withoutRG')" [(ngModel)]="actualMinCarWithout[idx]" [disabled]="false" style="width: 70px">
                      </td>
                      <td>
                       <input [id]="'attributeMaxCarWithout' + c" (change)="resetCarWithout(idx)" (click)="resetCarWithout(idx)" (keyup)="checkCardinalityWithout('max', idx, 'withoutRG')" [(ngModel)]="actualMaxCarWithout[idx]" [disabled]="false" style="width: 70px">
                      </td>

                      <td [id]="'rangeWithout-td' + idx" >
                        <input [id]="'rangeWithout' + idx"  (click)="clickRowTableWithout(idx)" [value]="getRangeWithout(idx)" style="cursor: pointer; height: 30px; width: 690px; background-color: #eaecef; border-width: 0px; outline: none" readonly>
                      </td>
                    </ng-container>

                    <ng-container *ngIf="!listLoadDataAttributeWithout[idx]">
                      <td></td>
                      <td></td>
                      <td></td>
                    </ng-container>


                  </tr>
                </ng-container>

                </tbody>
              </table>
            </div>


            <div class="col">
                <button class="btn btn-sm btn-secondary"  style="max-width: 135px; min-width: 135px" (click)="addRowTableLeftWithout()" [disabled]="idBtnAddWithoutDisabled()"> Add new attribute</button>
                <button class="btn btn-sm btn-danger" style="max-width: 135px; min-width: 135px; margin-left: 10px" (click)="deleteRowTableLeftWithout()" [disabled]="idBtnDeleteWithoutDisabled()"> Delete attribute</button>
            </div>


            <div class="container" style="margin-top: 20px">
              <div class="row">
                <div class="alert alert-danger" *ngIf="!actualCheckCarWithout"  style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Minimal cardinality is higher than the maximal cardinality! </div>
              </div>
              <div class="row">
                <div *ngIf="invalidInputMinCarWithout" class="alert alert-danger" style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Invalid input at minimal cardinality! </div>
              </div>
              <div class="row">
                <div *ngIf="invalidInputMaxCarWithout" class="alert alert-danger" style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Invalid input at maximal cardinality! </div>
              </div>
              <div class="row">
                <div *ngIf="invalidInputCarWithout" class="alert alert-danger" style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Min car and max car of 0 is not allowed! </div>
              </div>
           </div>
          </div>

          <div class="col" style="max-width: 500px; margin-left: 20px; margin-top: 15px">

            <div class="row" *ngIf="showInformationWindowWithout">
              <span class="border border-1 border-white" style="max-height: 350px; min-height: 350px; min-width: 510px; max-width: 510px; margin-left: -10px ">
                <div style="border-style:solid; border-width: 5px;border-color: lightblue; background-color: lightblue; min-width: 510px; max-width: 510px;">
                <p class="fw-semibold "> Attribute definition: </p>
                <div style="margin-top: -15px">{{popupInformationDefinitionWithout()}} </div>
                <p class="fw-semibold" style="margin-top: 5px"> Cardinality: </p>
                <div style="margin-top: -15px"> {{"- Minimum: "  + listWithoutMinCar[this.listIndexWithout[this.idRowLeftTableWithout]]}} </div>
                <div > {{"- Maximum: "  + listWithoutMaxCar[this.listIndexWithout[this.idRowLeftTableWithout]]}} </div>
                <div > - Input: integers and * for infinity</div>
                <p class="fw-semibold" style="margin-top: 5px"> Attribute value range - general: </p>
                <div style="margin-top: -15px"> {{popupInformationConstraintWithout()}} </div>
                  <p *ngIf="isAttributeRelationWithout()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute based on the focus concept definition </p>
                  <p *ngIf="isMandatoryWithout()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute resulting of 1..1 cardinality </p>
                  </div>
              </span>
              <br>
            </div>

            <div class="row" *ngIf="showInformationWindowWithout" style="min-width: 535px; max-width: 535px">
              <label *ngIf="booleanNormalWithout || booleanIntWithout || booleanDecWithout" [id]="'label-range'" style="margin-bottom: 10px; margin-left: -10px; margin-top: 40px"> Attribute value range:</label>
              <div *ngIf="booleanNormalWithout" style="margin-left: -10px">
              <div style="overflow-x:auto; max-width: 850px">
                <table class="table table-striped table-sm table-borderless table-hover" [id]="'tableRight'" style="min-width: 600px; max-width: 600px">
                  <thead>
                  <tr>
                    <th scope="col" style="min-width: 90px; max-width: 90px">Operator</th>
                    <th scope="col" style="min-width: 90px; max-width: 90px">Constraint</th>
                    <th scope="col" style="min-width: 400px; max-width: 400px">Attribute value</th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let c of listOperatorRangeWithout; let idx=index">
                    <tr (click)="getIdRowTableRightWithout(idx)" [id] = "'rowTableRightWithout' + idx">
                      <td *ngIf="idx > 0">
                        <input class="form-control" list="operatorWithout" pattern="MINUS|OR" [(ngModel)]="listOperatorRangeWithout[idx]" style="height: 30px">
                        <datalist id="operatorWithout">
                          <option value="MINUS">
                          <option value="OR">
                        </datalist>
                      </td>
                      <td *ngIf="idx === 0">
                        <input class="form-control" list="operatorWithout" id="exampleDataList" [(ngModel)]="listOperatorRangeWithout[idx]" style="height: 30px" disabled>
                      </td>

                      <td>
                        <input class="form-control" list="constraintWithout" [(ngModel)]="listConstraintRangeWithout[idx]" style="height: 30px" [id]="'id-constraint-without'">
                        <datalist id="constraintWithout">
                          <option value="">
                          <option value="<<">
                          <option value="<">
                        </datalist>
                      </td>

                      <td style="min-height: 30px; max-height: 30px">

                        <div class="input-group" style="min-height: 30px; max-height: 30px; margin-bottom: -60px">
                          <input class="form-control" [id]="'id-value' + idx" list="constraintName" (keyup)="keypressGetAttributeValueWithout(idx)" (change)="changeFieldWithout(idx)" (click)="startFieldValueWithout(idx)" (mouseout)="clickKeypressWithout()" [(ngModel)]="listNameRangeWithout[idx]" style="height: 30px;box-shadow:none">
                          <input class="form-control" [id]="'id-value-dummy' + idx" (change)="changeFieldWithout(idx)" [value]="listNameRangeWithout[idx]" style="height: 30px; display: none; box-shadow: none" (click)="startFieldValueWithout(idx)">

                          <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px; max-height: 30px">
                            <div class="spinner-border spinner-border-sm" [id]="'spinnerWithout' + idx" role="status"  style="display: none">
                            </div>
                          </span>
                        </div>
                        <datalist id="constraintName" style="max-height: 300px">
                          <option id="optionFieldWithoutRoleGroup" *ngFor="let v of getPossibleValuesWithout()" > {{v}} </option>
                        </datalist>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>

              <div style="margin-top: 20px">
                <button class="btn btn-sm btn-secondary" [id]="'addNewValueWithout'" (click)="addNewLineWithout()" style="margin-left: 1px; max-width: 150px; min-width: 150px" [disabled]="checkInputRightTableWithout()"> Add new value</button>
                <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateValueWithout()" style="margin-left: 10px; max-width: 150px; min-width: 150px" [disabled]="checkInputRightTableWithout()"> Update value range</button>
                <button class="btn btn-sm btn-danger" [id]="'deleteValueWithout'" (click)="deleteValueWithout()" style="margin-left: 10px; max-width: 150px; min-width: 150px" [disabled]="idBtnDeleteValueWithoutDisabled()"> Delete value</button>
              </div>
              </div>

              <div *ngIf="booleanIntWithout">
                <div class="form-check form-check-inline" style="margin-left: -5px">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1Int" value="option1" (click)="getInputIntWithout('range')">
                  <label class="form-check-label" for="inlineRadio1Int">Range (min/max)</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2Int" value="option2" (click)="getInputIntWithout('fixed')">
                  <label class="form-check-label" for="inlineRadio2Int">Fixed Value</label>
                </div>

                <div *ngIf="inputIdIntWithout === 'range'" style="margin-left: -1px; margin-top: 10px">
                  <table class="table table-sm table-borderless" style="margin-left: -10px">
                    <thead>
                    <tr>
                      <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive minimum (<)</th>
                      <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive maximum (>)</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input [(ngModel)]="intMinWithout" type="number" [id]="'attributeIntMinWith' " [min]="intDefMinWithout" [max]="intDefMaxWithout" step="1"  [disabled]="false" style="width: 70px">
                        </td>
                        <td>
                          <input type="number" [id]="'attributeIntMaxWith' " [min]="intDefMinWithout" [max]="intDefMaxWithout" [(ngModel)]="intMaxWithout" [disabled]="false" style="width: 70px">
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div style="margin-top: 35px;margin-left: -17px">
                    <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateIntValueWithout()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="checkInputIntegerRightTableWithout()"> Update value range</button>
                  </div>
                </div>

                <div *ngIf="inputIdIntWithout === 'fixed'" style="margin-left: -1px; margin-top: 10px">
                  <table class="table table-sm table-borderless" style="margin-left: -10px">
                    <thead>
                    <tr>
                      <th scope="col" style="min-width: 90px; max-width: 90px">Fixed Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <input type="number" [id]="'attributeMinCarWith' " [min]="intDefMinWithout" [max]="intDefMaxWithout" [(ngModel)]="intFixedWithout" [disabled]="false" style="width: 70px">
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <div style="margin-top: 35px;margin-left: -17px">
                    <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateIntFixedValueWithout()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="isDisabledInputFixedWithout()"> Update value range</button>
                  </div>
                </div>

              </div>

              <div *ngIf="booleanDecWithout">
                <div class="form-check form-check-inline" style="margin-left: -5px">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1Dec" value="option1" (click)="getInputDecWithout('range')">
                  <label class="form-check-label" for="inlineRadio1Int">Range (min/max)</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2Dec" value="option2" (click)="getInputDecWithout('fixed')">
                  <label class="form-check-label" for="inlineRadio2Int">Fixed Value</label>
                </div>

                <div *ngIf="inputIdDecWithout === 'range'" style="margin-left: -1px; margin-top: 10px">
                  <table class="table table-sm table-borderless" style="margin-left: -10px">
                    <thead>
                    <tr>
                      <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive minimum</th>
                      <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive maximum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <input type="number" [id]="'attributeDecMinWith' " [step]=".01" [min]="decDefMinWithout" [max]="decDefMaxWithout" [(ngModel)]="decMinWithout" [disabled]="false" style="width: 70px">
                      </td>
                      <td>
                        <input type="number" [id]="'attributeDecMinWith' " [step]=".01" [min]="decDefMinWithout" [max]="decDefMaxWithout" [(ngModel)]="decMaxWithout" [disabled]="false" style="width: 70px">
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <div style="margin-top: 35px;margin-left: -17px">
                    <button class="btn btn-sm btn-success" [id]="'updateDecRangeValueWithout'" (click)="updateDecValueWithout()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="checkInputDecRightTableWithout()"> Update value range</button>
                  </div>
                </div>

                <div *ngIf="inputIdDecWithout === 'fixed'" style="margin-left: -1px; margin-top: 10px">
                  <table class="table table-sm table-borderless" style="margin-left: -10px">
                    <thead>
                    <tr>
                      <th scope="col" style="min-width: 90px; max-width: 90px">Fixed Value</th>
                    </tr>
                    </thead>
                    <tbody>
                   <tr>
                      <td>
                        <input type="number" [id]="'attributeDecFixedWithout' " [step]=".01" [min]="decDefMinWithout" [max]="decDefMaxWithout" [(ngModel)]="decFixedWithout" [disabled]="false" style="width: 70px">
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <div style="margin-top: 35px;margin-left: -17px">
                    <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateDecFixedValueWithout()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="checkInputDecFixedRightTableWithout()"> Update value range</button>
                  </div>
                </div>
              </div>


              <div style="margin-bottom: 100px"></div>




            </div>
          </div>


      </div>





        <div *ngIf="idActualTab === 'tab-with' + idRg" class="row">

          <ul class="nav small" style="width: 1400px; margin-left: 15px;  background-color: #e9f2fb; margin-top: 20px">
            <li class="nav-item" *ngFor="let i of listIndexSubRg[idRg]; let idx=index">
              <a  class="nav-link text-dark small" aria-current="page" style="cursor: pointer; width: 80px; height: 35px" [id]="'tab-subRg' + idRg +idx" (click)="setSubRg(idx)" disabled="true" >{{idRg+1}}.{{idx+1}} RG</a>
            </li>
            <li class="nav-item" *ngIf="isAddRgPossible()">
              <a class="nav-link  text-dark small" aria-current="page" style="cursor: pointer; width: 80px; height: 35px" [id]="'tab-subRgAdd'" (click)="loadNewRoleGroup()"> <p class="fw-bold">+</p> </a>
            </li>
          </ul>


        <div class="col" style="width: 570px; margin-left: 5px; margin-right: 20px">

            <label style="margin-bottom: 10px; margin-top: 10px"> Attribute summary: </label>
            <div style="overflow-x:auto; margin-bottom: 50px">
              <table class="table table-striped table-sm table-bordered table-hover" [id]="'tableLeftWith'" style="width: 800px">
                <thead>
                <tr>
                  <th scope="col" style="min-width: 350px; max-width: 350px">Attribute name</th>
                  <th scope="col" style="min-width: 80px; max-width: 80px">Min car</th>
                  <th scope="col" style="min-width: 80px; max-width: 80px">Max car</th>
                  <th scope="col" style="min-width: 700px;">Attribute value range</th>
                </tr>
                </thead>
                <tbody>

                <ng-container *ngFor="let c of actualAttributeNameWith[idRg][idSubRg]; let idx=index">
                  <tr (keyup)="getRowTableLeftWith(idx)" [id]="'rowTableLeftWith' + idRg + idSubRg + idx" style="cursor: pointer">
                    <td (click)="clickRow(idRg, idSubRg, idx)" *ngIf="actualAttributeNameWith[idRg][idSubRg][idx] !== ''">
                      <input class="form-control" list="datalistOptionsAttributeNameWith1" [id]="'attributeNameWithDataList' + idRg + idSubRg + idx" (ngModelChange)="loadAttributeDataWith(idx)" [(ngModel)]="actualAttributeNameWith[idRg][idSubRg][idx]" [readOnly]="false" style="cursor: pointer; width: 340px; height: 30px">
                      <datalist id="datalistOptionsAttributeNameWith1" style="max-height: 300px">
                        <option *ngFor="let e of getAttributesWith(); let i = index"> {{e}} </option>
                      </datalist>
                    </td>
                    <td *ngIf="actualAttributeNameWith[idRg][idSubRg][idx] === ''">
                      <input class="form-control" list="datalistOptionsAttributeNameWith2" [id]="'attributeNameWithDataList' + idRg + idSubRg + idx" (ngModelChange)="loadAttributeDataWith(idx)" [(ngModel)]="actualAttributeNameWith[idRg][idSubRg][idx]" [readOnly]="false" style="cursor: pointer; width: 340px; height: 30px">
                      <datalist id="datalistOptionsAttributeNameWith2" style="max-height: 300px">
                        <option *ngFor="let e of getAttributesWith(); let i = index"> {{e}} </option>
                      </datalist>
                    </td>
                    <ng-container *ngIf="actualAttributeNameWith[idRg][idSubRg][idx].length > 0">
                      <td>
                        <input [id]="'attributeMinCarWith' + idRg + idSubRg + idx" (change)="resetCarWith(idx)" (click)="resetCarWith(idx)" (keyup)="checkCardinalityWith('min', idx)" [(ngModel)]="actualMinCarWith[idRg][idSubRg][idx]" [disabled]="false" style="width: 70px">
                      </td>
                      <td>
                       <input [id]="'attributeMaxCarWith' + idRg + idSubRg + idx" (change)="resetCarWith(idx)" (click)="resetCarWith(idx)" (keyup)="checkCardinalityWith('max', idx)" [(ngModel)]="actualMaxCarWith[idRg][idSubRg][idx]" [disabled]="false" style="width: 70px">
                      </td>

                      <td [id]="'rangeWith-td' + idRg + idx" >
                        <input [id]="'rangeWith' + idRg + idx"  [value]="getRangeWith(idx)" (click)="clickRow(idRg, idSubRg, idx)" style="cursor: pointer; height: 30px; width: 690px; background-color: #eaecef; border-width: 0px; outline: none" readonly>
                      </td>
                    </ng-container>


                    <ng-container *ngIf="actualAttributeNameWith[idRg][idSubRg][idx].length === 0">
                      <td></td>
                      <td></td>
                      <td></td>
                    </ng-container>




                  </tr>
                </ng-container>

                </tbody>
              </table>
            </div>

          <div class="col">
            <button class="btn btn-sm btn-secondary"  style="max-width: 135px; min-width: 135px" [id] = "'btn-add-row-with-left'" (click)="addRowTableLeftWith()" [disabled]="idBtnAddWithDisabled()"> Add new attribute</button>
            <button class="btn btn-sm btn-danger" style="max-width: 135px; min-width: 135px; margin-left: 10px" (click)="deleteRowTableLeftWith()" [disabled]="idBtnDeleteWithDisabled()"> Delete attribute</button>
          </div>


          <div class="container" style="margin-top: 20px">
            <div class="row">
              <div class="alert alert-danger" *ngIf="!actualCheckCarWith"  style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Minimal cardinality is higher than the maximal cardinality! </div>
            </div>
            <div class="row">
              <div *ngIf="invalidInputMinCarWith" class="alert alert-danger" [id]="'invalidMinCar'" style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Invalid input at minimal cardinality! </div>
            </div>
            <div class="row">
              <div *ngIf="invalidInputMaxCarWith" class="alert alert-danger" style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Invalid input at maximal cardinality! </div>
            </div>
            <div class="row">
              <div *ngIf="invalidInputCarWith" class="alert alert-danger" style="max-width: 450px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert">  Min car and max car of 0 is not allowed! </div>
            </div>
          </div>


            <div style="margin-bottom: 100px"></div>

          </div>

            <div class="col" style="max-width: 500px; margin-left: 60px; margin-top: 15px">

              <div class="row" *ngIf="showInformationWindowWith">
              <span class="border border-1 border-white" style="max-height: 350px; min-height: 350px; min-width: 510px; max-width: 510px; margin-left: -10px ">
                <div style="border-style:solid; border-width: 5px;border-color: lightblue; background-color: lightblue; min-width: 510px; max-width: 510px;">
                <p class="fw-semibold "> Attribute definition: </p>
                <div style="margin-top: -15px">{{popupInformationDefinitionWith()}} </div>
                <p class="fw-semibold" style="margin-top: 5px"> Cardinality: </p>
                <div style="margin-top: -15px"> {{"- Minimum: "  + popupInformationMinCarWith()}} </div>
                <div > {{"- Maximum: "  + popupInformationMaxCarWith()}} </div>
                <div > - Input: integers and * for infinity</div>
                <p class="fw-semibold" style="margin-top: 5px"> Attribute value range - general: </p>
                <div style="margin-top: -15px"> {{popupInformationConstraintWith()}} </div>
                <p *ngIf="isAttributeRelationWith()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute based on the focus concept definition </p>
                  <p *ngIf="isMandatoryWith()" class="fw-semibold " style="color: darkred; margin-top: 5px; margin-bottom: -5px"> Attribute resulting of 1..1 cardinality </p>
                  </div>
              </span>
                <br>
              </div>
              <div *ngIf="showInformationWindowWith" class="row" style="max-width: 535px; min-width: 535px">
                <label [id]="'label-range'" style="margin-bottom: 10px; margin-left: -10px; margin-top: 40px"> Attribute value range:</label>
                <div *ngIf="booleanNormalWith" style="margin-left: -10px">
                <div style="overflow-x:auto; max-width: 500px">
                  <table class="table table-striped table-sm table-borderless table-hover" style="max-width: 600px; min-width: 600px">
                    <thead>
                    <tr>
                      <th scope="col" style="min-width: 90px; max-width: 90px">Operator</th>
                      <th scope="col" style="min-width: 90px; max-width: 90px">Constraint</th>
                      <th scope="col" style="min-width: 400px; max-width: 400px">Attribute value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let c of listOperatorRangeWith[idRg][idSubRg][idRowLeftTableWith]; let idx=index">
                      <tr (click)="getIdRowTableRightWith(idx)" [id] = "'rowTableRightWith' + idx">
                        <td *ngIf="idx > 0">
                          <input class="form-control" list="operatorWith" pattern="MINUS|OR"  [id]="'operator' + idRg + idSubRg + idx" [(ngModel)]="listOperatorRangeWith[idRg][idSubRg][idRowLeftTableWith][idx]" style="height: 30px">
                          <datalist id="operatorWith">
                            <option value="MINUS">
                            <option value="OR">
                          </datalist>
                        </td>
                        <td *ngIf="idx === 0">
                          <input class="form-control" list="operatorWithout" [(ngModel)]="listOperatorRangeWith[idRg][idSubRg][idRowLeftTableWith][idx]" style="height: 30px" disabled>
                        </td>

                        <td>
                          <input class="form-control" list="constraintWith" [id]="'constraint' + idRg + idSubRg + idx" [(ngModel)]="listConstraintRangeWith[idRg][idSubRg][idRowLeftTableWith][idx]" style="height: 30px">
                          <datalist id="constraintWith">
                            <option value="">
                            <option value="<<">
                            <option value="<">
                          </datalist>
                        </td>

                        <td>
                          <div class="input-group" style="min-height: 30px; max-height: 30px; margin-bottom: -60px">
                            <input class="form-control" [id]="'id-value-with' + idRg + idSubRg + idx" list="constraintNameWith" (keyup)="keypressGetAttributeValueWith(idx)" (change)="changeFieldWith(idx)" (click)="startFieldValueWith(idx)" (keydown.enter)="keypressEnterWith(idx)" [(ngModel)]="listNameRangeWith[idRg][idSubRg][idRowLeftTableWith][idx]" style="height: 30px;box-shadow: none">
                            <input class="form-control" [id]="'id-value-with-dummy' + idRg + idSubRg + idx" (change)="changeFieldWith(idx)" [value]="listNameRangeWith[idRg][idSubRg][idRowLeftTableWith][idx]" style="height: 30px; display: none; box-shadow: none" (click)="startFieldValueWith(idx)" >

                            <span class="input-group-text" [id]="'basic-addon2'" style="min-width: 45px; max-height: 30px">
                            <div class="spinner-border spinner-border-sm" [id]="'spinnerWith' + idx" role="status"  style="display: none">
<!--                              <span class="sr-only">Loading...</span>-->
                            </div>
                          </span>
                          </div>



<!--                          <input class="form-control" [id]="'id-value-with' + idRg + idSubRg + idx" list="constraintNameWith" (keyup)="keypressGetAttributeValueWith(idx)" (change)="changeFieldWith(idx)" (click)="startFieldValueWith(idx)" [(ngModel)]="listNameRangeWith[idRg][idSubRg][idRowLeftTableWith][idx]" style="height: 30px">-->
                            <datalist id="constraintNameWith" style="max-height: 300px">
                              <option id="optionFieldWithRoleGroup" *ngFor="let v of getPossibleValuesWith(idx)" > {{v}} </option>
                            </datalist>
<!--                          <input class="form-control" [id]="'id-value-with-dummy' + idRg + idSubRg + idx" (change)="changeFieldWith(idx)" [value]="listNameRangeWith[idRg][idSubRg][idRowLeftTableWith][idx]" style="height: 30px; display: none" (click)="startFieldValueWith(idx)">-->

                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>

                  <div style="margin-top: 20px">
                    <button class="btn btn-sm btn-secondary" [id]="'addNewValueWith'" (click)="addNewLineWith()" style="margin-left: 1px; max-width: 150px; min-width: 150px" [disabled]="checkInputRightTableWith()"> Add new value</button>
                    <button class="btn btn-sm btn-success" [id]="'updateValueWith'" (click)="updateValueWith()" style="margin-left: 10px; max-width: 150px; min-width: 150px" [disabled]="checkInputRightTableWith()"> Update value range</button>
                    <button class="btn btn-sm btn-danger" [id]="'deleteValueWith'" (click)="deleteValueWith()" style="margin-left: 10px; max-width: 150px; min-width: 150px" [disabled]="idBtnDeleteValueWithDisabled()"> Delete value</button>
                  </div>

                </div>

<!--                &lt;!&ndash;              <div *ngIf="!booleanCheckOperatorValueRowWithout" style="margin-top: 20px; margin-left: -5px; width: 270px; display:inline-block; padding: 5px" class="alert alert-danger" role="alert"> Operator field ist mandatory! </div>&ndash;&gt;-->
<!--                &lt;!&ndash;              <div *ngIf="!booleanCheckNameValueRowWithout && !booleanCheckOperatorValueRowWithout" style="margin-left: -5px; width: 270px; margin-top: 5px; display:inline-block; padding: 5px" class="alert alert-danger" role="alert"> Attribute name field ist mandatory! </div>&ndash;&gt;-->
<!--                &lt;!&ndash;              <div *ngIf="!booleanCheckNameValueRowWithout && booleanCheckOperatorValueRowWithout" style="margin-top: 20px; margin-left: -5px; width: 270px; display:inline-block; padding: 5px" class="alert alert-danger" role="alert"> Attribute name field ist mandatory! </div>&ndash;&gt;-->

                <div *ngIf="booleanIntWith">
                  <div class="form-check form-check-inline" style="margin-left: -5px">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" [id]="'inlineRadio1IntW'" value="option1" (click)="getInputIntWith('range')">
                    <label class="form-check-label" [for]="'inlineRadio1IntW'">Range (min/max)</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" [id]="'inlineRadio2IntW'" value="option2" (click)="getInputIntWith('fixed')">
                    <label class="form-check-label" [for]="'inlineRadio2IntW'">Fixed Value</label>
                  </div>

                  <div *ngIf="inputIdIntWith === 'range'" style="margin-left: -1px; margin-top: 10px">
                    <table class="table table-sm table-borderless" style="margin-left: -10px">
                      <thead>
                      <tr>
                        <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive minimum</th>
                        <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive maximum</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          <input [(ngModel)]="intMinWith" type="number" [id]="'attributeIntMinWith' " [min]="intDefMinWith" [max]="intDefMaxWith" step="1"  [disabled]="false" style="width: 70px">
                        </td>
                        <td>
                          <input type="number" [id]="'attributeIntMaxWith' " [min]="intDefMinWith" [max]="intDefMaxWith" [(ngModel)]="intMaxWith" [disabled]="false" style="width: 70px">
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <div style="margin-top: 35px;margin-left: -17px">
                      <button class="btn btn-sm btn-success" [id]="'updateValueWith'" (click)="updateIntValueWith()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="checkInputIntegerRightTableWith()"> Update value range</button>
                    </div>
                  </div>

                  <div *ngIf="inputIdIntWith === 'fixed'" style="margin-left: -1px; margin-top: 10px">
                    <table class="table table-sm table-borderless" style="margin-left: -10px">
                      <thead>
                      <tr>
                        <th scope="col" style="min-width: 90px; max-width: 90px">Fixed Value</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>
                          <input type="number" [id]="'attributeMinCarWith' " [min]="intDefMinWith" [max]="intDefMaxWith" [(ngModel)]="intFixedWith" [disabled]="false" style="width: 70px">
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <div style="margin-top: 35px;margin-left: -17px">
                      <button class="btn btn-sm btn-success" [id]="'updateValueWith'" (click)="updateIntFixedValueWith()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="isDisabledInputFixedWith()"> Update value range</button>
                    </div>
                  </div>
                </div>

                <div *ngIf="booleanDecWith">
                    <div class="form-check form-check-inline" style="margin-left: -5px">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" [id]="'inlineRadio1DecW'" value="option1" (click)="getInputDecWith('range')">
                      <label class="form-check-label" [for]="'inlineRadio1DecW'">Range (min/max)</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" [id]="'inlineRadio2DecW'" value="option2" (click)="getInputDecWith('fixed')">
                      <label class="form-check-label" [for]="'inlineRadio2DecW'">Fixed Value</label>
                    </div>

                    <div *ngIf="inputIdDecWith === 'range'" style="margin-left: -1px; margin-top: 10px">
                      <table class="table table-sm table-borderless" style="margin-left: -10px">
                        <thead>
                        <tr>
                          <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive minimum (<)</th>
                          <th scope="col" style="min-width: 100px; max-width: 100px">Exclusive maximum (>)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                            <input [(ngModel)]="decMinWith" type="number" [id]="'attributeDecMinWith' " [step]=".01" [min]="decDefMinWith" [max]="decDefMaxWith" step="1"  [disabled]="false" style="width: 70px">
                          </td>
                          <td>
<!--                            <input type="number" [id]="'attributeDecMaxWith' " [min]="0" [max]="decDefMaxWith" [(ngModel)]="decMaxWith" [disabled]="false" style="width: 70px">-->
                            <input type="number" [id]="'attributeMinCarWith' " [min]="decDefMinWith" [step]=".01" [max]="decDefMaxWith" [(ngModel)]="decMaxWith" [disabled]="false" style="width: 70px">
                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <div style="margin-top: 35px;margin-left: -17px">
                        <button class="btn btn-sm btn-success" [id]="'updateValueWith'" (click)="updateDecValueWith()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="checkInputDecRightTableWith()"> Update value range</button>
                      </div>
                    </div>

                    <div *ngIf="inputIdDecWith === 'fixed'" style="margin-left: -1px; margin-top: 10px">
                      <table class="table table-sm table-borderless" style="margin-left: -10px">
                        <thead>
                        <tr>
                          <th scope="col" style="min-width: 90px; max-width: 90px">Fixed Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                            <input type="number" [id]="'attributeFixedDecWith' " [step]=".01" [min]="decDefMinWith" [max]="decDefMaxWith" [(ngModel)]="decFixedWith" [disabled]="false" style="width: 70px">
                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <div style="margin-top: 35px;margin-left: -17px">
                        <button class="btn btn-sm btn-success" [id]="'updateValueWithout'" (click)="updateDecFixedValueWith()" style="margin-left: 9px; max-width: 150px; min-width: 150px" [disabled]="checkInputDecFixedRightTableWith()"> Update value range</button>
                      </div>
                    </div>
                  </div>









                <div style="margin-bottom: 100px"></div>




              </div>


            </div>











        </div>


        <div *ngIf="idActualTab === 'tab-summary'" class="row">
          <div class="col" style="width: 500px; margin-left: 5px; margin-right: 20px">
            <label *ngIf="isWithout" style="margin-bottom: 5px; margin-top: 10px"> <p class="fw-bold" style="color: steelblue">Without RoleGroup:</p> </label>
            <div *ngIf="isWithout" style="overflow-x:auto; margin-bottom: 10px">
              <table class="table table-striped table-sm table-bordered" [id]="'tableLeftWithout'" style="width: 800px">
                <thead>
                <tr>
                  <th scope="col" style="min-width: 350px; max-width: 350px">Attribute name</th>
                  <th scope="col" style="min-width: 80px; max-width: 80px">Min car</th>
                  <th scope="col" style="min-width: 80px; max-width: 80px">Max car</th>
                  <th scope="col" style="min-width: 700px;">Attribute value range</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let c of listSummaryAttributeNamesWithout; let idx=index">
                  <tr *ngIf="c != null">
                    <td> {{listSummaryAttributeNamesWithout[idx]}} </td>
                    <td> {{listSummaryMinCardinalityWithout[idx]}} </td>
                    <td> {{listSummaryMaxCardinalityWithout[idx]}} </td>
                    <td> {{listSummaryValueRangeWithout[idx].split("OR").join(" OR ").split("MINUS").join(" MINUS ")}} </td>

                  </tr>
                </ng-container>

                </tbody>
              </table>
            </div>

              <div *ngFor="let rg of listInitWithMaxCar; let row=index">
                <div *ngFor="let  c of listInitWithMaxCar[row]; let subrg=index">
                <div *ngIf="checkRg(row, subrg)">
              <label *ngIf="isWith" style="margin-bottom: 5px; margin-top: 10px"> <p class="fw-bold" style="color: steelblue">{{row + 1}}.{{subrg + 1}}. RoleGroup:</p>  </label> <br>

              <div *ngIf="isWith" style="overflow-x:auto">
                <table class="table table-striped table-sm table-bordered" [id]="'tableLeftWithout'" style="width: 800px">
                  <thead>
                  <tr>
                    <th scope="col" style="min-width: 350px; max-width: 350px">Attribute name</th>
                    <th scope="col" style="min-width: 80px; max-width: 80px">Min car</th>
                    <th scope="col" style="min-width: 80px; max-width: 80px">Max car</th>
                    <th scope="col" style="min-width: 700px;">Attribute value range</th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let c of listSummaryAttributeNamesWith[row][subrg]; let col=index">
                    <tr *ngIf="c.length > 0">
                      <td> {{listSummaryAttributeNamesWith[row][subrg][col]}} </td>
                      <td> {{listSummaryMinCardinalityWith[row][subrg][col]}} </td>
                      <td> {{listSummaryMaxCardinalityWith[row][subrg][col]}} </td>
                      <td> {{listSummaryValueRangeWith[row][subrg][col].split("OR").join(" OR ").split("MINUS").join(" MINUS ")}} </td>

                    </tr>
                  </ng-container>

                  </tbody>
                </table>
              </div>

              <label *ngIf="isWith" style="margin-left: 20px">
                <p class="fw-semibold">RoleGroup Cardinalities</p>
                <p style="margin-top: -5px">minimal cardinality: {{listInitWithRoleGroupMinCar[row]}} ; maximal cardinality: {{listInitWithRoleGroupMaxCar[row]}}</p>
              </label>

              <table *ngIf="isWith" class="table table-sm table-borderless" style="margin-left: 15px">
                <tbody>
                <tr>
                  <td style="min-width: 15px; max-width: 15px"><p class="fw-semibold">Min car:</p></td>
                  <td style="min-width: 20px; max-width: 20px"><input [(ngModel)]="minCarRg[row][subrg]" (keyup)="checkMinCarRg(row, subrg); checkCardinalityRg('min', row, subrg)"  [id]="'min-car-rg' + row" [disabled]="false" style="width: 70px"></td>
                  <td style="min-width: 15px; max-width: 15px"><p class="fw-semibold">Max car:</p></td>
                  <td style="min-width: 20px; max-width: 20px"><input [(ngModel)]="maxCarRg[row][subrg]" (keyup)="checkMaxCarRg(row, subrg); checkCardinalityRg('min', row, subrg)" [id]="'max-car-rg' + row" [disabled]="false" style="width: 70px"></td>
<!--                  <td style="min-width: 150px; max-width: 150px" *ngIf="invalidRgCar"><div class="alert alert-danger" style="max-width: 800px; margin-bottom: 20px; display:inline-block; padding: 5px" role="alert"> Invalid input! </div></td>-->
                  <td style="min-width: 150px; max-width: 150px" *ngIf="!invalidRgCar"></td>
                </tr>
                </tbody>
              </table>


                  <!--                  todo - eventeull für self-grouped-->
<!--              <label *ngIf="isWith && checkerSelfGrouped(row, subrg)" style="margin-left: 20px; margin-top: -5px">-->
<!--                <p class="text-decoration-underline">Self-grouped Attributes</p>-->
<!--                <p class="fs-6" style="margin-top: -5px">Generally, the attributes before, during, after, due to, clinical course, or temporally related to are self-grouped,-->
<!--                  meaning they must not be placed in a relationship <br> group with other attributes; each attribute must be the only attribute in a relationship group.-->
<!--                  But there are some exceptions. <br> (Source: https://confluence.ihtsdotools.org/display/DOCEG/Clinical+Finding+Defining+Attributes) </p>-->
<!--                <p class="fst-italic" style="margin-top: -5px"> Should the following attributes be self-grouped? </p>-->
<!--              </label>-->

<!--              <div *ngFor="let c of listSelfGroupedAttributesPceName[row][subrg]; let idx=index" style="margin-left: 20px; margin-bottom: 10px">-->
<!--                <label class="fw-semibold" style="min-width: 200px; max-width: 200px">{{c}}</label>-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="radio" [name]="'option' + row + subrg  + idx" [id]="'RadioYes' + row + subrg + idx" [value]="'optionYes' + row + subrg + idx" (change)="isSelfGrouped(row , subrg, idx, true)"  checked>-->
<!--                  <label class="form-check-label" [for]="'RadioYes' + row + subrg  + idx">Yes</label>-->
<!--                </div>-->
<!--                <div class="form-check form-check-inline">-->
<!--                  <input class="form-check-input" type="radio" [name]="'option' + row + subrg  + idx" [id]="'RadioNo' + idx" [value]="'optionNo' + row + subrg  + idx" (change)="isSelfGrouped(row , subrg, idx, false)">-->
<!--                  <label class="form-check-label" [id]="'RadioNo' + row + subrg  + idx">No</label>-->
<!--                </div>-->


<!--              </div>-->
            </div>
              </div>
            </div>

            <div *ngIf="isWithout || isWith">
              <div style="margin-top: 30px; max-width: 140px; min-width: 140px">
                <button class="btn btn-sm btn-success" style="margin-top: 30px; max-width: 140px; min-width: 140px" (click)="continue()" [disabled]="idBtnContinueDisabled()"> Continue </button>
              </div>
              <div *ngIf="errorMessageSummary.length > 0" class="alert alert-danger" style="max-width: 800px; margin-bottom: 20px; display:inline-block; padding: 5px; margin-top: 10px" role="alert"> {{errorMessageSummary}} </div>
            </div>


            <div style="margin-bottom: 100px"></div>

          </div>
        </div>

        <div *ngIf="idActualTab === 'tab-namePce'" class="row">
          <div class="col" style="width: 500px; margin-left: 5px; margin-right: 20px">
            <p class="fw-bold" style="margin-top: 20px">  Term of template (termTemplate):</p>
            <p class="fs-6" style="margin-top: 20px">Please create the term of the template here (e.g.: "$course$ $morphology$ of $findingSite$"). <br> By using the text area and by double-clicking, the IDs of the individual attributes can be  inserted.  </p>
            <div style="margin-top: 20px; max-width: 400px; min-width: 400px">
              <table class="table table-striped table-sm table-bordered" [id]="'tableCodeWords'" style="width: 800px">
                <thead>
                <tr>
                  <th scope="col" style="min-width: 200px; max-width: 200px">Attribute name</th>
                  <th scope="col" style="min-width: 80px; max-width: 80px">Id</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pos of listCodeWordsPositionWithout; let idxWithout=index" [id]="'rowTableTermTemplate' + pos" (click)="clickTableTermTemplate(pos, idxWithout, 'without')" (dblclick)="dbClickTableTermTemplate(pos, idxWithout, 'without')" >
                    <td> {{listSummaryAttributeNamesWithout[pos]}} </td>
                    <td> {{listCodeWordsWithout[idxWithout]}} </td>
                  </tr>
                  <tr *ngFor="let pos of listCodeWordsPositionWith; let idxWith=index" [id]="'rowTableTermTemplate' + pos" (click)="clickTableTermTemplate(pos, idxWith, 'with')" (dblclick)="dbClickTableTermTemplate(pos, idxWith, 'with')">
                    <td> {{listSummaryAttributeNamesWith[pos.split('$')[0]][pos.split('$')[1]][pos.split('$')[2]]}} </td>
                    <td> {{listCodeWordsWith[idxWith]}} </td>
                  </tr>

                </tbody>
              </table>

              <textarea class="form-control" style="white-space: pre; margin-top: 30px; max-width: 800px; min-width: 800px; min-height: 60px; max-height: 60px; margin-bottom: 50px" type="text" [(ngModel)]="termTemplate"> </textarea>

              <p class="fw-bold" style="margin-top: 20px">  Name of template (without Semantic Tag):</p>
              <textarea class="form-control" style="white-space: pre; margin-top: 30px; max-width: 800px; min-width: 800px; min-height: 60px; max-height: 60px; margin-bottom: 50px" type="text" [(ngModel)]="nameTemplate"> </textarea>
              <button class="btn btn-sm btn-success" style="margin-top: 30px; max-width: 180px; min-width: 160px; margin-bottom: 15px" [disabled]="termTemplate.length === 0 || nameTemplate.length === 0" (click)="createNewTemplate()"> Download new template</button>

            </div>
          </div>
        </div>



        <div *ngIf="idActualTab === 'tab-finish'" class="row">



          <div class="col" style="width: 500px; margin-left: 5px; margin-right: 20px">
            <div *ngIf="!isTemplatedCreated" class="alert alert-primary" role="alert" style="margin-top: 20px; max-width: 657px; min-width: 657px; padding: 3px">
              Sending request ...
            </div>
            <div *ngIf="!isTemplatedCreated" class="alert light" role="alert" style="color: white; margin-top: 20px; max-width: 657px; min-width: 657px; padding: 3px">
              X
            </div>
            <div *ngIf="isTemplatedCreated" class="alert alert-success" role="alert" style="margin-top: 20px; max-width: 657px; min-width: 657px; padding: 3px">
              Saving the template was successful!
            </div>
            <div *ngIf="isTemplatedCreated" class="alert alert-warning" role="alert" style="margin-top: 20px; max-width: 657px; min-width: 657px; padding: 3px">
              Please save the file in the folder "wasp/template"!
            </div>

            <div class="container" style="margin-top: 20px; margin-left: -10px">
              <div class="row">
                <div class="col" style="max-width: 130px">
                  <p class="fw-bold" style="margin-top: 10px"> Template</p>
                </div>
                <button type="button" class="btn btn-sm" style="max-height: 24px; max-width: 24px; margin-top: 10px" title="Copy to clipboard" (click)="copyPceToClipboard()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16" style="margin-left: -5px; margin-top: -10px" >
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                  </svg>
                </button>
                </div>
                <div *ngIf="isCopyToClickbloard" class="col" style="margin-top: 10px">
                  <div class="alert alert-secondary" style="max-width: 100px; max-height: 24px; display:inline-block; padding: 0px" role="alert"> Copied! </div>
                </div>
<!--              </div>-->
            </div>

<!--            (click)="downloadPce()-->


            <app-highlightingTemplate></app-highlightingTemplate>

          </div>
        </div>





    </div>


    </div>

  </div>
</div>

</body>
</html>
