<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>



</head>
<body>


<div class="highlightingPce">

  <div *ngIf="highlightingPceService.input === 'ConceptModel'">
      <span>
        <span class="text" style="color: #3f97e0">{{this.highlightingPceService.focusConceptCode + " |" + this.highlightingPceService.focusConceptName + "|"}}</span>
        <span *ngIf="this.highlightingPceService.isRefinement" class="text">{{" : "}}</span>
      </span>
    <div style="margin-bottom: 7px"></div>

      <span *ngFor="let c of this.highlightingPceService.listSummaryValueWithout; let idx=index">
        <ng-container *ngIf="this.highlightingPceService.listSummaryAttributeNamesWithout[idx].length > 0">
          <span class="text" style="color: #68b949">{{this.highlightingPceService.listSummaryAttributeCodesWithout[idx] + " |" + this.highlightingPceService.listSummaryAttributeNamesWithout[idx] + " (attribute)|"}}</span>
          <span class="text">{{" = "}}</span>
          <span class="text" style="color: #d74e2d">{{this.highlightingPceService.listSummaryValueWithout[idx]}}</span>
          <span *ngIf="highlightingPceService.listSummaryAttributeNamesWithout.length - 1 > idx || highlightingPceService.isRoleGroup" class="text">{{","}}</span>
          <br>
        </ng-container>
      </span>

    <div *ngIf="this.highlightingPceService.listSummaryValueWithout.length > 0" style="margin-bottom: 7px"></div>

      <span *ngFor="let c of this.highlightingPceService.listSummaryAttributeCodesWith; let rg=index">
        <ng-container *ngFor="let c of this.highlightingPceService.listSummaryAttributeCodesWith[rg]; let subrg=index">
          <span *ngIf="this.highlightingPceService.checkRG0(rg, subrg)" class="text">{{"{"}}</span>
          <ng-container *ngFor="let c of this.highlightingPceService.listSummaryValueWith[rg][subrg]; let col=index">
            <ng-container *ngIf="this.highlightingPceService.checkRG1(rg, subrg, col)">
              <span class="text" style="color: #68b949">{{this.highlightingPceService.listSummaryAttributeCodesWith[rg][subrg][col] + " |" + this.highlightingPceService.listSummaryAttributeNamesWith[rg][subrg][col] + " (attribute)|"}}</span>
              <span class="text">{{" = "}}</span>
              <span class="text" style="color: #d74e2d">{{this.highlightingPceService.listSummaryValueWith[rg][subrg][col]}}</span>
              <span *ngIf="this.highlightingPceService.checkRG2(rg, subrg, col)" class="text">{{","}}</span>
              <br *ngIf="this.highlightingPceService.checkRG2(rg, subrg, col)">
            </ng-container>
          </ng-container>
          <span *ngIf="this.highlightingPceService.checkRG0(rg, subrg)" class="text">{{"}"}}</span>
          <span *ngIf="this.highlightingPceService.listSummaryAttributeCodesWith[rg].length - 1 > subrg && this.highlightingPceService.listSummaryAttributeCodesWith[rg][subrg].length > 0" class="text">{{","}}</span>
          <div style="margin-bottom: 7px"></div>

        </ng-container>
      </span>
  </div>




  <div *ngIf="highlightingPceService.input === 'Template'">
     <span>
      <span class="text" style="color: #3f97e0">{{this.highlightingPceService.getFocusconcept()}}</span>
      <span *ngIf="this.highlightingPceService.isRoleGroup || this.highlightingPceService.listSummaryValueWithout.length > 0" class="text">{{" : "}}</span>
    </span>
    <div style="margin-bottom: 7px"></div>

    <span *ngFor="let c of this.highlightingPceService.listSummaryValueWithout; let idx=index">
    <ng-container *ngIf="this.highlightingPceService.listSummaryAttributeNamesWithout[idx].length > 0">
      <span class="text" style="color: #68b949">{{this.highlightingPceService.listSummaryAttributeCodesWithout[idx] + " |" + this.highlightingPceService.listSummaryAttributeNamesWithout[idx] + " (attribute)|"}}</span>
      <span class="text">{{" = "}}</span>
      <span class="text" style="color: #d74e2d">{{this.highlightingPceService.listSummaryValueWithout[idx]}}</span>
      <span *ngIf="highlightingPceService.listSummaryAttributeNamesWithout.length - 1 > idx || highlightingPceService.isRoleGroup" class="text">{{","}}</span>
      <br>
    </ng-container>
  </span>

    <div *ngIf="this.highlightingPceService.listSummaryValueWithout.length > 0" style="margin-bottom: 7px"></div>

    <span *ngFor="let c of this.highlightingPceService.listSummaryAttributeCodesWith; let rg=index">
      <span class="text">{{"{"}}</span>
      <ng-container *ngFor="let c of this.highlightingPceService.listSummaryAttributeCodesWith[rg]; let subrg=index">
        <ng-container *ngFor="let c of this.highlightingPceService.listSummaryValueWith[rg][subrg]; let col=index">
          <ng-container *ngIf="this.highlightingPceService.checkRG1Template(rg, subrg, col)">
            <span class="text" style="color: #68b949">{{this.highlightingPceService.listSummaryAttributeCodesWith[rg][subrg][col] + " |" + this.highlightingPceService.listSummaryAttributeNamesWith[rg][subrg][col] + " (attribute)|"}}</span>
            <span class="text">{{" = "}}</span>
            <span class="text" style="color: #d74e2d">{{this.highlightingPceService.listSummaryValueWith[rg][subrg][col]}}</span>
            <span *ngIf="this.highlightingPceService.checkRG2Template(rg, subrg, col)" class="text">{{","}}</span>
            <br *ngIf="this.highlightingPceService.checkRG2Template(rg, subrg, col)">
          </ng-container>
        </ng-container>
      </ng-container>
      <span class="text">{{"}"}}</span>
      <span *ngIf="this.highlightingPceService.listSummaryAttributeCodesWith.length - 1 > rg" class="text">{{","}}</span>
      <div style="margin-bottom: 7px"></div>
    </span>

  </div>






</div>
</body>
</html>
