<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>



</head>
<body>


<ng-container>

  <div style="margin-top: 5px; min-height: 400px; max-height: 400px; border-color: white">
    <span class="text" style="color: #3f97e0">{{highlightingTemplateService.focusConceptCode + " |" + highlightingTemplateService.focusConceptName + "|"}}</span>
    <span class="text">{{" : "}}</span>
    <br *ngIf="highlightingTemplateService.listAttributeWithoutMinCar.length > 0">
    <span *ngFor="let c of highlightingTemplateService.listAttributeWithoutMinCar; let i = index">
        <span class="text">{{"[["}}</span>
        <span class="text" style="color: #f8be41">{{highlightingTemplateService.listAttributeWithoutMinCar[i]}}</span>
        <span class="text">{{".."}}</span>
        <span class="text" style="color: #f8be41">{{highlightingTemplateService.maxCar(highlightingTemplateService.listAttributeWithoutMaxCar[i])}}</span>
        <span class="text">{{"]]  "}}</span>
        <span class="text" style="color: #68b949">{{highlightingTemplateService.listAttributeWithoutCode[i] + " |" + highlightingTemplateService.listAttributeWithoutName[i] + " (attribute)|"}}</span>
        <span *ngIf="true">
          <span *ngIf="highlightingTemplateService.isIntDecNormalWithout(i) === 'normal'" class="text">{{" = [[+id("}}</span>
          <span *ngIf="highlightingTemplateService.isIntDecNormalWithout(i) === 'int'" class="text">{{" = [[+int("}}</span>
          <span *ngIf="highlightingTemplateService.isIntDecNormalWithout(i) === 'dec'" class="text">{{" = [[+dec("}}</span>
          <span class="text" style="color: #d74e2d">{{highlightingTemplateService.value(highlightingTemplateService.listAttributeWithoutConstraintComplete[i])}}</span>
          <span class="text">{{")"}}</span>
          <span class="text" style="color: #74849a">{{highlightingTemplateService.popupInformationConstraintWithout(i)}}</span>
          <span class="text">{{"]]"}}</span>
        </span>
<!--        <span *ngIf="highlightingTemplateService.fixedValueWithout(i)">-->
<!--          <span class="text">{{" = "}}</span>-->
<!--          <span class="text" style="color: #d74e2d">{{highlightingTemplateService.listAttributeWithoutConstraintComplete[i]}}</span>-->
<!--        </span>-->
      <span *ngIf="highlightingTemplateService.listAttributeWithoutCode.length - 1 > i || highlightingTemplateService.listAttributeWithMinCar.length > 0" class="text">{{","}}</span>
      <br>
      </span>
      <br *ngIf="highlightingTemplateService.listAttributeWithMinCar.length > 0 && highlightingTemplateService.listAttributeWithoutCode.length === 0">
      <span *ngFor="let c of highlightingTemplateService.listAttributeWithMinCar; let i = index">
        <span class="text">{{"[["}}</span>
        <span class="text" style="color: #f8be41">{{highlightingTemplateService.listRoleGroupsMinCar[i]}}</span>
        <span class="text">{{".."}}</span>
        <span class="text" style="color: #f8be41">{{highlightingTemplateService.maxCar(highlightingTemplateService.listRoleGroupsMaxCar[i])}}</span>
        <span class="text">{{"]]  {"}}</span>
        <br>
        <span *ngFor="let c of highlightingTemplateService.listAttributeWithMinCar[i]; let j = index" style="margin-left: 10px">
            <span class="text">{{"[["}}</span>
            <span class="text" style="color: #f8be41">{{highlightingTemplateService.listAttributeWithMinCar[i][j]}}</span>
            <span class="text">{{".."}}</span>
            <span class="text" style="color: #f8be41">{{highlightingTemplateService.maxCar(highlightingTemplateService.listAttributeWithMaxCar[i][j])}}</span>
            <span class="text">{{"]]  "}}</span>
            <span class="text" style="color: #68b949">{{highlightingTemplateService.listAttributeWithCode[i][j] + " |" + highlightingTemplateService.listAttributeWithName[i][j] + " (attribute)|"}}</span>
            <span *ngIf="true">
              <span *ngIf="highlightingTemplateService.isIntDecNormal(highlightingTemplateService.listAttributeWithCode[i][j], i,j) === 'normal'" class="text">{{" = [[+id("}}</span>
              <span *ngIf="highlightingTemplateService.isIntDecNormal(highlightingTemplateService.listAttributeWithCode[i][j], i,j) === 'int'" class="text">{{" = [[+int("}}</span>
              <span *ngIf="highlightingTemplateService.isIntDecNormal(highlightingTemplateService.listAttributeWithCode[i][j], i,j) === 'dec'" class="text">{{" = [[+dec("}}</span>
              <span *ngIf="highlightingTemplateService.listAttributeWithCode[i][j] !== undefined" class="text" style="color: #d74e2d">{{highlightingTemplateService.popupInformationConstraint(highlightingTemplateService.listAttributeWithCode[i][j], i,j, true)}}</span>
              <span class="text">{{")"}}</span>
              <span class="text" style="color: #74849a">{{highlightingTemplateService.popupInformationConstraint(highlightingTemplateService.listAttributeWithCode[i][j], i,j, false)}}</span>
              <span class="text">{{"]]"}}</span>
            </span>
<!--            <span *ngIf="highlightingTemplateService.fixedValueWith(i, j)">-->
<!--              <span class="text">{{" = "}}</span>-->
<!--              <span *ngIf="highlightingTemplateService.listAttributeWithCode[i][j] !== undefined" class="text" style="color: #d74e2d">{{highlightingTemplateService.popupInformationConstraint(highlightingTemplateService.listAttributeWithCode[i][j], i,j, true)}}</span>-->
<!--            </span>-->
            <span *ngIf="highlightingTemplateService.listAttributeWithCode[i].length - 1 > j" class="text">{{","}}</span>
            <br>
        </span>
        <span class="text">{{"}"}}</span>
        <span *ngIf="highlightingTemplateService.listRoleGroupsMinCar.length - 1 > i" class="text">{{","}}</span>
        <br>
      </span>
  </div>

</ng-container>
</body>
</html>
