<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>


<div class="settings" >

  <div class="container" style="overflow-y: scroll; max-height: 400px">

    <div class="row">
      <div class="col-l" style="width: 350px;">
        <p class="fw-semibold" style="margin-left: -10px; color: darkorchid; margin-bottom:0px">Wasp data and FHIR server settings</p>
      </div>
      <div class="col" style="margin-left: 30px">
        <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: -120px; margin-top: 2px; cursor: pointer" width="20" height="20" [id]="'info'" (click)="changeAlert('info')">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </div>
    </div>

    <table class="table table-borderless table-sm" style="width: 640px; margin-left: -22px; margin-top: -5px">
      <tbody>
      <tr style="max-height: 15px">
        <td style="width: 330px">
            <input id="inputfolder" type="file" #folderInput style="cursor: pointer; outline: none; opacity: 0; height: 20px; position: absolute; margin-top: 10px" (click)="settingsService.removeCacheData(); changeAlert()" (change)="folderPicked(folderInput.files)"
                   webkitdirectory directory multiple
            >
            <label for="inputfolder" class="btn btn-sm btn-link col" style="cursor: pointer; height: 30px; text-align: left; margin-bottom: -80px; margin-top: -70px; position: relative; z-index: 1;">
              Upload local folder "wasp"
            </label>
            <svg *ngIf="settingsService.uploadSuccessful" xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16" style="color: green; margin-left: 30px; margin-top: 15px; pointer-events: none">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
        </td>
        <td style="width: 310px; max-height: 20px">
          <div class="form-check" style="margin-top: 7px; margin-left:15px">
            <input class="form-check-input" type="checkbox" id="useCacheData" style="height: 14px; width: 14px; margin-top: 6px; cursor: pointer; box-shadow: none" disabled (change)="settingsService.retrieveData($event); changeAlert()">
            <label class="form-check-label" for="useCacheData" style="font-size: 14px; width: 200px;">Using browser cache </label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="alert alert-primary d-flex align-items-center" role="alert" style="margin-top: 20px; padding: 4px; width: 635px; margin-left: -14px" *ngIf="showInfoAlert">
      <table class="table table-borderless table-sm" style="max-width: 635px;">
        <tbody>
        <tr style="max-height: 20px">
          <td style="max-width: 575px; max-height: 20px"><p class="fw-semibold" style="padding: 1px">WASP data and FHIR server settings</p></td>
          <td style="max-width: 50px; max-height: 20px"><button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close" style="margin-left: 90px" (click)="changeAlert()"></button></td>
        </tr>
        <tr>
          <td colspan="2">
            <p style="padding: 1px; text-align: justify; margin-bottom: -15px; margin-top: -25px">To use WASP, the previously downloaded wasp folder must be located locally on the device.
              This contain, for example, the Expression Templates and a preprocessed MRCM. Further information and the download option are available <a href="https://gitlab.com/tessa00/wasp-data/-/tree/main" target="_blank">here</a>.
              <br> Uploaded WASP data and the FHIR server settings can be stored in the browser cache. If the checkbox is disabled, nothing could be found in the cache. The data must be reloaded when changing any data, such as adding a template.</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <table class="table table-borderless table-sm" style="width: 640px; margin-left: -22px; margin-top: -10px">
      <tbody>
      <tr style="max-height: 15px">
        <td style="width: 330px">
          <p *ngIf="settingsService.listNameServer.length > 0" style="color: darkorchid; padding: 1px; margin-left: 6px;"> FHIR server </p>
          <div class="row" style="margin-top: -7px"></div>
          <div class="form-check" *ngFor="let s of settingsService.listNameServer; let idx=index" style="margin-left: 8px; margin-top: -7px;">
            <input class="form-check-input" type="radio" name="radioServer" [id]="'radio' + idx" [value]="'option' + idx" (change)="settingsService.getServer(s,idx)" style="box-shadow: none">
            <label class="form-check-label" [for]="'radio' + idx">
              {{s}}
            </label>
          </div>
          <div class="form-check" *ngIf="settingsService.listNameServer.length > 0" style="margin-left: 8px; margin-top: -6px">
            <input class="form-check-input" type="radio" name="radioServer" [id]="'radioOther'" [value]="'option3'" (change)="settingsService.getServer('other')" style="box-shadow: none">
            <label class="form-check-label" [for]="'radioOther'">
              Other
            </label>
          </div>

          <div class="row" *ngIf="settingsService.isOtherServer" style="margin-top: 10px; margin-left: -2px">
            <div class="col">
              <input class="form-control form-control-sm" id="otherServer" placeholder="URL server" style="width: 250px; box-shadow: none" [(ngModel)]="settingsService.url_other_server">
            </div>
            <div class="col">
              <button type="button" class="btn btn-sm btn-success" style="margin-left: -7px" (click)="settingsService.checkUrl()" [disabled]="settingsService.url_other_server.length === 0">ok</button>
            </div>
            <div *ngIf="settingsService.syntaxCheck === 'check'" class="alert alert-primary" role="alert" style="margin-left: 12px; margin-top: 20px; padding: 4px; max-width: 300px; font-size: 14px;">
              Checking URL ...
            </div>
            <div *ngIf="settingsService.syntaxCheck === 'success'" class="alert alert-success" role="alert" style="margin-left: 12px; margin-top: 20px; padding: 4px; max-width: 300px; font-size: 14px;">
              URL is correct!
            </div>
            <div *ngIf="settingsService.syntaxCheck === 'error' && settingsService.errorMessageUrl.length > 0" class="alert alert-danger" role="alert" style="margin-left: 12px; margin-top: 20px; padding: 4px; max-width: 300px; font-size: 14px;">
              Invalid URL! {{settingsService.errorMessageUrl}} Or no server connection.
            </div>
            <div *ngIf="settingsService.syntaxCheck === 'error' && settingsService.errorMessageUrl.length === 0" class="alert alert-danger" role="alert" style="margin-left: 12px; margin-top: 20px; padding: 4px; max-width: 300px; font-size: 14px;">
              URL is causing issues! (Example: https://r4.ontoserver.csiro.au/fhir)
            </div>
          </div>

          <div *ngIf="settingsService.syntaxCheck === 'error' && !settingsService.isOtherServer && settingsService.errorMessageUrl.length > 0" style="margin-left: -2px">
            <div class="alert alert-danger" role="alert" style="margin-left: 12px; margin-top: 20px; padding: 4px; max-width: 300px; font-size: 14px;">
              Invalid URL! {{settingsService.errorMessageUrl}} Or no server connection.
            </div>
            <div *ngIf="settingsService.syntaxCheck === 'error' && !settingsService.isOtherServer && settingsService.errorMessageUrl.length === 0" class="alert alert-danger" role="alert" style="margin-left: 12px; margin-top: 20px; padding: 4px; max-width: 300px; font-size: 14px;">
              URL is causing issues! (Example: https://r4.ontoserver.csiro.au/fhir)
            </div>
          </div>
        </td>
        <td style="width: 310px; max-height: 20px">
          <p *ngIf="settingsService.listNameServer.length > 0" style="color: darkorchid; padding: 1px; margin-left: 12px"> SNOMED CT version</p>
          <div style="margin-top: -13px; margin-left: 13px" *ngIf="settingsService.listNameServer.length > 0 && settingsService.serverChange.length > 0">
            <div *ngIf="settingsService.listSnomedVersionsDisplay.length === 0 && (settingsService.syntaxCheck === 'check' || settingsService.syntaxCheck === '')" style="align-items: center;">
              <span class="spinner-border spinner-border-sm" role="status" style="margin-right: 10px; color: grey; height: 11px; width: 11px; margin-top: -3px"></span>
              <p style="color: grey; font-size: 12px; margin-top: -18px; margin-left: 20px">Loading...</p>
            </div>
            <input *ngIf="!settingsService.isLoadingReady" class="form-control form-control-sm" list="datalistOptionsX" id="exampleDataList" placeholder="Choose a version" style="width: 270px; box-shadow: none; margin-top: 20px" [(ngModel)]="settingsService.versionChange">
            <datalist id="datalistOptionsX">
              <option id="XXX" *ngFor="let v of settingsService.getSnomedVersionList()"> {{v}}</option>
            </datalist>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="form-check" style="margin-left: 3px; margin-top: -15px; max-width: 550px" *ngIf="settingsService.listNameServer.length > 0 && settingsService.serverChange.length > 0">
        <input class="form-check-input" type="checkbox" value="" id="checkedCache" style="height: 14px; width: 14px; margin-top: 7px; box-shadow: none" checked disabled>
        <label class="form-check-label" for="checkedCache" style="font-size: 14px; width: 400px">Store WASP data and FHIR server settings in browser cache</label>
      </div>
    </div>


    <p class="fw-semibold" style="margin-left: -11px; color: darkorchid; margin-top: 20px">Further information</p>
    <div class="row">
      <div class="col" style="margin-left: -19px; width: 200px; margin-top: -10px">
        <label class="btn btn-sm btn-link" (click)="goToLink('https://gitlab.com/tessa00/wasp-data/-/tree/main')">
          Download folder "wasp"
        </label>
      </div>
      <div class="col" style="margin-left: -85px; width: 200px; margin-top: -10px">
        <label class="btn btn-sm btn-link" (click)="goToLink('https://mii-termserv.de/en/tools/wasp/')" style="margin-left: 50px">
          Small introduction to WASP
        </label>
      </div>
    </div>




    </div>



</div>

</body>
</html>
