<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>


<div class="settingscs">

  <div class="row" style="width: 1000px">
    <div class="col" style="width: 200px">

      <p class="fw-bold "> 1. Choose a FHIR Server:</p>
      <div class="form-check">
        <div *ngFor="let s of settingsService.listNameServer; let idx=index" >
          <input class="form-check-input" type="radio" name="radioServerCs" [id]="'radioCs' + idx" [value]="'option' + idx" (change)="settingsCsService.getServer(s,idx)">
          <label class="form-check-label" [for]="'option' + idx">
            {{s}}
          </label>
        </div>
        <input class="form-check-input" type="radio" name="radioServerCs" [id]="'radioOtherCs'" value="option3" (change)="settingsCsService.getServer('other')">
        <label class="form-check-label" [for]="'radioOtherCs'">
          Other
        </label>
      </div>

      <div *ngIf="settingsCsService.isLoading ==  'start'" class="alert alert-primary" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
        Loading ...
      </div>

      <div class="row" *ngIf="settingsCsService.isOtherServer" style="margin-top: 10px">
        <div class="col">
          <input class="form-control form-control-sm" id="otherServer" style="width: 400px; box-shadow: none" placeholder="URL server" [(ngModel)]="settingsCsService.url_other_server"  (keyup)="settingsCsService.keypressUrl()">
        </div>
        <div class="col">
          <button type="button" class="btn btn-sm btn-success" style="margin-left: 6px" [id]="'btn-otherUrl'" (click)="settingsCsService.checkUrl()" [disabled]="settingsCsService.url_other_server.length === 0">ok</button>
        </div>
        <div>
        <div *ngIf="settingsCsService.syntaxCheck === 'check'" class="alert alert-primary" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          Checking URL ...
        </div>
        <div *ngIf="settingsCsService.syntaxCheck === 'success'" class="alert alert-success" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          URL is correct!
        </div>
        <div *ngIf="settingsCsService.syntaxCheck === 'error' && settingsCsService.errorMessageUrl.length > 0" class="alert alert-danger" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          URL is causing problems! <br> {{settingsCsService.errorMessageUrl}}
        </div>
        <div *ngIf="settingsCsService.syntaxCheck === 'error' && settingsCsService.errorMessageUrl.length === 0" class="alert alert-danger" role="alert" style="margin-top: 20px; padding: 4px; width: 400px">
          URL is causing problems! (Example: https://r4.ontoserver.csiro.au/fhir)
        </div>
        </div>

      </div>

    </div>

    <div class="col">
      <div class="col">
      <p class="fw-bold "> 2. Choose a CodeSystem Supplement: </p>
        <ng-container>
          <input class="form-control form-control-sm" list="datalistOptionsXX" id="exampleDataList" style="width: 400px; box-shadow: none" placeholder="CodeSystem Supplement" [(ngModel)]="settingsCsService.nameCsSupplement" [disabled]="settingsCsService.isInputDisabled()">
          <datalist id="datalistOptionsXX">
            <option id="XXXC" *ngFor="let v of settingsCsService.getNames()"> {{v}}</option>
          </datalist>
          <div class="col">
            <button type="button" class="btn btn-sm btn-success" style="margin-left: 430px; margin-top: -60px" [id]="'btn-load-css'" (click)="settingsCsService.loadCsSupplement()" [disabled]="settingsCsService.isSaveDisabled()"> ok </button>
          </div>
        </ng-container>


      <div *ngIf="settingsCsService.isLoading === 'start'" class="col">
        <p class="fw-semibold">Loading ...</p>
      </div>
      <div *ngIf="settingsCsService.isLoading === 'error'" class="alert alert-warning" role="alert" style="padding: 4px; width: 400px">
        No CodeSystem Supplement available!
      </div>
      </div>
    </div>








  </div>


</div>


</body>
</html>
